[2015-05-30 19:01] DirkHeinke opened #2 "UI / Admin Interface"
Hi,
cool you build this, great work! Do you plan to add a admin panel, or CLI for creating users and controlling access?

[2015-05-30 19:50] rojer commented on #2
i agree that having static list of users is not ideal, but maintaining a separate user database is also something i'd like to avoid.
since the organization where this server will be deployed probably already has some sort of account database (for us it's google apps, for others it may be a windows domain or kerberos realm), i think the way to go is to provide integration with those, plus static ac

[2015-06-02 08:03] summerQLin commented on #2
Do you have plan to integrate LDAP systems?

[2015-06-02 08:50] rojer commented on #2
this is something that makes sense to me and i would welcome as a contribution, but cannot promise myself as working on docker_auth is not my main priority.

[2015-06-02 12:31] summerQLin opened #3 "Authentication fail"
I am so excited to see registry v2's authentication server's built up! But I couldn't pass authentication.

When I run: docker push localhost:5000/test-busybox
<code>FATA[0003] Error response from daemon: no successful auth challenge for http://localhost:5000/v2/ - errors: [token auth attempt to http://localhost:5000/v2/ realm "https://127.0.0.1:5001/auth" failed with status: 401 Unauthorized]</co

[2015-06-02 12:33] rojer commented on #3
can you increase verbosity? pass --v=2 (before the config name) to the
server and it should print more diagnostic information (why request was
declined).

On Tue, Jun 2, 2015 at 1:31 PM summerQLin <notifications@github.com> wrote:

[2015-06-02 17:51] rojer commented on #3
did it work for you in the end?

On Tue, Jun 2, 2015 at 1:33 PM Deomid Ryabkov <rojer@cesanta.com> wrote:

[2015-06-02 21:14] silverbp opened #4 "Question on API Access"
I finally got this working, still having issues related to osx and boot2docker with custom CA but it works from one ubuntu box to another!! Great work!

One question though...
Is there a way to just get a token to pass with curl in order to hit docker registry api?

[2015-06-02 21:47] rojer commented on #4
yes, there is:

$ curl --cacert /path/to/ca.crt -d 'account=USER&service=my_service&scope=repository:hello-world:pull' -u USER https://docker.example.com:5001/
Enter host password for user 'USER':
{"token":"eyJ0.....yQ"}

you can read the spec (https://github.com/docker/distribution/blob/master/docs/spec/auth/token.md) about scope and account, but basically scope is repostory:REPO_NAME:ACTIONS
REP

[2015-06-02 21:47] #4 closed

[2015-06-02 22:03] rojer commented on #4
and to use it to talk to the registry:

$ curl --cacert /path/to/ca.crt -H 'Authorization: bearer eyJ0.....yQ' https://docker.example.com:5000/v2/
{}

[2015-06-02 22:17] silverbp commented on #4
Perfect thanks!!

[2015-06-03 05:46] summerQLin commented on #3
Not sure about verbosity mode. But registry container's log says:
<pre><code>
172.*.*.* - - [03/Jun/2015:05:27:41 +0000] "GET /v2/ HTTP/1.1" 401 114 "" "docker/1.6.0 go/go1.4.2 git-commit/4749651 kernel/3.13.0-48-generic os/linux arch/amd64"
DEBU[9845] authorizing request                           environment=development http.request.host=localhost:5000 http.request.id=9abaf613-1276-4338-b1b7-ea53

[2015-06-03 05:57] rojer commented on #3
you need to figure out your certs situation, as neither registry nor auth
service trust one another.

there are two ways certs are used: one is for TLS session setup, the other
is to sign the token. it looks like you managed to get TLS going (so
registry did get the token back), but it doesn't trust the cert it was
signed with. setting auth.token.rootcertbundle = registry_auth.crt *should*
do the

[2015-06-03 06:10] summerQLin commented on #3
I've already added 'rootcertbundle'  for registry's config.yml.
<pre><code>
auth:
    token:
        realm: https://127.0.0.1:5001/auth
        service: Dockerregistry
        issuer: Acmeauthserver
        rootcertbundle: /go/src/github.com/docker/distribution/auth_cert/registry_auth.crt
</code></pre>

[2015-06-03 06:30] rojer commented on #3
in my setup i have a separate CA cert configured system-wide, but i just
tried your setup and it works for me.
i used the exact command you posted to generate cert and key, configured it
under server.{certificate,key} for docker_auth, set rootcertbundle =
registry_auth.crt for the registry and it works.

On Wed, Jun 3, 2015 at 7:10 AM summerQLin <notifications@github.com> wrote:

[2015-06-04 10:48] DarkDirk opened #6 "config reload"
Is there a way to let the docker_auth reread the config file? Currently you need to restart the container if you changed the config file. I see the following options:
1. reload on file changed
2. reload every minute
3. reload on every request
4. reload on the call of special api route

It would be nice to have one of this options (toggleable via config) if your config is changed from an external p

[2015-06-04 13:29] rojer commented on #6
there isn't a way right now, but adding one sounds reasonable.
as always, no ETA but eventually there will be a way. :)

[2015-06-04 13:33] rojer commented on #3
closing as WFM.

[2015-06-04 13:33] #3 closed

[2015-06-04 14:34] devinsba opened #7 "Make an ACL engine like the Authentication"
Allow ACL to pluggable like the authentication currently is.

Ex:
* LDAP
* A database

This allows an organization to have non developer maintain this mapping. For instance with new hires or people leaving. Or new repos and new groups

I would be happy to take a shot at adding this if you are open to this type of feature. Certain implementations would also solve #6

[2015-06-04 14:40] rojer commented on #7
yes, this sounds reasonable to me.

[2015-06-04 17:44] DarkDirk commented on #2
I build [this webinterface](https://github.com/DarkDirk/docker_auth_web) to access the config. But it needs #6 for working seamless.

[2015-06-04 20:33] rojer commented on #2
i'm on board with config reload, but a ui to edit config file seems out of
place to me.
i think the need to have dynamic set of users/permissions is best addressed
through dynamic backends (as suggested in another issue).

On Thu, Jun 4, 2015 at 6:44 PM Dirk Heinke <notifications@github.com> wrote:

[2015-06-05 03:12] xiekeyang opened #11 "Question: TLS certificate"
@rojer ,
I read https://github.com/cesanta/docker_auth/issues/3 . But still have some confusion.
How do you generate TLS certificate?
If it is via `openssl genrsa` and `openssl req`? I don't think so.
Because the certificate's content is not accepted by docker distribution.
Could you please provide some example certificate?
Thanks a lot!

[2015-06-05 08:32] DarkDirk commented on #11
Can you provide the config from your registry and the docker_auth? Both need the .pem file but only the docker_auth needs the .key.

[2015-06-05 08:54] xiekeyang commented on #11
@DarkDirk
I just use example config list in [examples/reference.yml](examples/reference.yml), as Distribution config.

[code]

And I didn't change and use original [examples/simple.yml ](examples/simple.yml ). It is OK?

[2015-06-05 09:02] DarkDirk commented on #11
Sorry if I ask, but do you have the correct path in the distribution config? Mine looks like this
[code]
My docker_auth config:
[code]

Both server.pem are the same. Perhaps you can also find some more information here: https://docs.docker.com/registry/configuration/

[2015-06-05 09:10] xiekeyang commented on #11
So may I generate the certs via command?
[code]
Then, copy them to the correct folders.

[2015-06-05 09:15] xiekeyang commented on #11
By the way, is http config necessary?
[code]

[2015-06-05 09:23] DarkDirk commented on #11
No. The cat step is wrong. (At least I don't have that step). HTTP config is not necessary for testing on localhost. In production you should have TLS (I think otherwise the docker daemon won't connect).

Perhaps you have a problem when the debug is listening on 5001 and you search for the index on the same port?

Send me a mail, then I'll send you a working example cert.

[2015-06-05 09:25] xiekeyang commented on #11
@DarkDirk Thanks so much. OK.

[2015-06-05 09:27] rojer commented on #11
right, no need to glue cert and key together. here's how you can generate a self-signed cert:
`openssl req -newkey rsa:2048 -nodes -keyout server.key -x509 -days 365 -out server.pem`

[2015-06-05 09:27] #11 closed

[2015-06-06 11:37] #6 closed

[2015-06-10 10:40] summerQLin opened #14 "Token auth is generated, but registry responds 403 Forbidden"
Hi, @rojer , since last week I succeeded with auth by account test:test by fixing certs issues. Today I tried again, I got another error.

Without any credential saved in my local, I tried docker push localhost:5000/test-busybox:latest.
<pre><code>8c2e06607696: Image push failed
FATA[0000] Error pushing to registry: token auth attempt for registry http://localhost:5000/v2/: https://127.0.0.1:5001/

[2015-06-10 14:26] rojer commented on #14
please enable verbose output by passing these argument to the auth server (before config file name): --logtostderr --v=2

it should be clear why request was denied, or post output here and i'll take a look

[2015-06-10 15:54] summerQLin commented on #14
Here is log from docker_auth
<pre><code>
I0610 14:55:06.450693       1 server.go:166] Request: &{Method:GET URL:/auth?scope=repository%3Atest-busybox%3Apull%2Cpush&service=Docker+registry Proto:HTTP/1.1 ProtoMajor:1 ProtoMinor:1 Header:map[User-Agent:[docker/1.6.0 go/go1.4.2 git-commit/4749651 kernel/3.13.0-48-generic os/linux arch/amd64] Accept-Encoding:[gzip]] Body:0x93b0e0 ContentLength:0 Trans

[2015-06-10 16:01] rojer commented on #14
note that username and password are empty: {:@172.17.42.1:59513 ...}

it should be test:***@172.17.42.1:59513 (passwords are screened, will appear as asterisks in the log).
hm. can you add -v to your curl command and post output here? (it will have all the headers that are sent)

[2015-06-10 16:02] rojer commented on #14
ah sorry, so curl doe work.
well, then it just means that you need to run docker login

[2015-06-10 16:07] rojer commented on #14
"docker login your_registry:5000"

[2015-06-10 16:09] summerQLin commented on #14
Yes, I got it pushed. But shouldn't registry ask for username and password if credential is not saved, instead error message?

[2015-06-10 16:15] rojer commented on #14
it might be nice, but you'll need to raise that with docker devs.

[2015-06-11 06:27] xiekeyang opened #15 "Question about compiling"
Dear @rojer
Dockerfile is under auth_server folder.
So , `ADD auth_server /` in Dockerfile  seems to lead compiling failed.
compiling is OK when i move dockerfile to upper folder.
However, container running will be failed:
**run command**
[code]

**error**:
[code]

same running is OK when i use image cesanta/docker_auth on Docker Hub.
If I made mistake?

[2015-06-11 06:54] rojer commented on #15
auth_server is a directory, so if you build with context at the top level it will add the whole auth_server directory and executing that will fail.
the right way to build it (well, the way i do it anyway) is to run make within the auth_server directory.

[2015-06-11 06:54] #15 closed

[2015-06-11 07:40] summerQLin commented on #14
Thank you very much. I guess that functionality is from registry v1?

[2015-06-11 11:44] rojer commented on #14
hm, it does? maybe that's a difference between 401 and 403 responses. i need to test it.

[2015-06-11 11:59] summerQLin commented on #14
I am testing Docker hub enterprise, it include an auth server. If you push without login, it says
<pre><code>FATA[0000] Error pushing to registry: token auth attempt for registry http://localhost:80/v2/: https://127.0.0.1/auth/token?scope=repository%3Abusybox%3Apull%2Cpush&service=127.0.0.1 request failed with status: 401 Unauthorized</code></pre>
And  it doesn't ask for username and password.

I

[2015-06-11 15:39] rojer commented on #14
well, then there you go. looks like in case of token authentication docker client doesn't ask for password.
i think it's reasonable to request that it should, but that would be docker feature request.
one thing i will change is to return 401 for both authentication and authorization failures.

[2015-06-11 15:45] rojer commented on #14
https://github.com/cesanta/docker_auth/commit/893d12db6492f3d9a96b9f778a1ab3659cd83fbb

i don't think there's anything else i can do here.

[2015-06-11 15:45] #14 closed

[2015-07-14 08:37] murphyleung opened #17 "The docker image cannot be started"
we are having problem to started and we have no idea how to resolve it:

[root@docker-registry tmp]# docker run --rm -it --name docker_auth -p 5001:5001     -v /tmp/:/config:ro     -v /var/log/docker_auth:/logs     cesanta/docker_auth --v=2 /config/docker_auth.yml
F0714 08:29:46.246461       1 main.go:146] Failed to load config: could not read /config/docker_auth.yml: open /config/docker_auth.yml:

[2015-07-14 08:48] rojer commented on #17
sorry, can't be of much help here... permission denied is permission denied, why your system denies reading /tmp/docker_auth.yml i have no idea.

[2015-07-14 08:48] #17 closed

[2015-07-23 01:09] silverbp opened #18 "Logging"
I can't seem to get it to log anything. I doesn't log to console out at all and mapping something to /log doesn't generate any files.

[2015-07-23 01:16] silverbp commented on #18
never mind, I read the documentation from here:

https://github.com/golang/glog/blob/master/glog.go

which worked!

[2015-07-23 01:16] #18 closed

[2015-08-07 05:37] summerQLin opened #19 "ACL add allow&deny keyword"
Hi Rojer,

Your current design about acl is only for allow. As long as the account is allowed by one acl entry, it will gain the access right.

Do you have ever think about deny? We could design like
* if account is denied by any acl entry, it will lose access right.
* if account isn't denied by any acl entry, and allowed by one acl entry, it'll gain access right.

Is this design reasonable to you

[2015-08-07 05:43] summerQLin commented on #19
Another question is, should acl entries be configured as mutually exclusive?

[2015-08-10 13:19] deitch opened #20 "Pattern matching for "name"?"
A very common pattern is to allow anyone to access their own named repository. Thus, if I can successfully authenticate as "jimd", then I should be able to access a repo that is at `jimd/`.

The current config (seems) not to support it. It should be fairly simple to do the following, though:

[code]

[2015-08-19 21:13] silverbp opened #22 "Can no longer pull with docker 1.8.1 if the user only has pull access"
see

https://github.com/docker/docker/issues/15640

I guess it's supposed to return the token with the appropriate rights and it's the registries responsibility to deny access.

Which makes since from an SSO kind of implementation with a JWT.

in 1.8.1 docker is requesting push and pull for just a pull, not sure why they changed that.

[2015-08-20 07:44] rojer commented on #22
looking

[2015-08-20 13:38] rojer commented on #22
pushed new images, should be ok now

[2015-08-20 15:51] rojer commented on #19
re: allow/deny - what is possible today is to deny everything to account by creating an ACL with actions: [] (i.e. empty set). you can match on any name, so "actions: []" is more or less the equivalent of "deny".

i think your proposal as i understand it is already implemented. just use an entry with "actions: []" whenever you want to deny something and it'll work.

[2015-08-20 15:51] #19 closed

[2015-08-20 15:52] rojer commented on #7
fixed by #23

[2015-08-20 15:52] #7 closed

[2015-08-20 15:53] rojer commented on #20
this seems reasonable. i will review a PR implementing this, otherwise it'll need to wait until i have spare time.

[2015-08-20 15:55] rojer commented on #2
config reload was implemented in #13 , i do not plan to implement a UI (beyond the bare minimum necessary for e.g. google or github auth - you can judge my [lack of] UI skills by that :)).

[2015-08-20 15:55] #2 closed

[2015-08-20 16:09] rojer commented on #20
wait... this always assumes capture groups come from account, a generic solution would allow capturing anywhere. but would introduce dependencies. how about instead we allow expansion of any field from AuthRequestInfo, which contains:
[code]
you could then use `${Account}` or something like that, without using regex capturing.

[2015-08-21 05:41] deitch commented on #20
What are the meanings of the other fields?

* `Account`: OK, authenticated user
* `Type`: what is this?
* `Name`: is this the rep in the request, e.g. `deitch/myapp`?
* `Service`: is this the `service` in the request, e.g. `hub.docker.io` or `my.private.reg:5000`?
* `Actions`: I guess these are `["push","pull"]`

[2015-08-21 06:07] summerQLin commented on #19
Hi rojer,
Thanks for your reply.

I should have an example to explain my requirement here. If you could advise me how to achieve it by means of current design, that will be very nice. Otherwise I propose my solution for you to review.

Requirement:
One account e.g. "rojer" should be bound to path "cesanta/", so that others can't push to repository cesanta/.  I figured out the way to write auth_con

[2015-08-21 07:47] rojer commented on #20
Type comes from the request, but currently is always "repository"
Name is the name of the repo, i.e. image (i find this repository/image name duality confusing)
Service also comes from the token request and is configured in registry config's `auth.token.service` parameter. Thus, even today you could have two completely different registries talking to the same auth server and be able to write compl

[2015-08-21 08:25] deitch commented on #20
Got it. And these are the same keys that are used in the JSON object under `match`?

[2015-08-21 08:48] rojer commented on #20
yes

[2015-08-21 09:34] deitch commented on #20
So then there would be special variables in the match, then?

[code]

That makes sense. Let's start with that. At some point it would need to be more powerful, allowing regex within the variable, but one step at a time.

[2015-08-21 09:34] deitch commented on #20
I will try to find a little time to do a PR.

[2015-08-21 09:42] rojer commented on #20
yes, something like that. you don't need to capture in the account matcher anymore, just make sure it's not empty, i.e. user is authenticated: `account: ".+"`

[2015-08-21 12:37] deitch commented on #20
Yeah, that makes sense. Easier than the mess of capturing regexp.

[2015-08-21 12:40] deitch commented on #22
Oh excellent! Thank you @rojer I will try it.

[2015-08-21 12:43] deitch commented on #20
Is this it over here?  https://github.com/cesanta/docker_auth/blob/master/auth_server/authz/acl.go#L76

[2015-08-21 13:22] deitch commented on #22
Hmm, still not working for me, but I am not sure this is the issue. Here is the output of `docker daemon -D`

[code]

And my config file:

[code]

I am trying to push `avid/foo` and logging in as `avid`.

However, if I do an explicit `curl` it works:

[code]

That is true even if I try a non-existent scope. So the `curl` is working, but still getting a `401` when the docker daemon tries it.

[code

[2015-08-21 13:25] deitch commented on #22
Hmm, same thing for an anonymous `pull`:

[code]

Strange that docker_auth is returning `401` to docker daemon... and again, `curl` works.

Any way to enable debugging on it?

[2015-08-21 13:43] rojer commented on #22
yes, add --v=2 and --alsologtostderr auth server command line
paste output here, i'd like to have a look

[2015-08-21 13:44] deitch commented on #22
Hmm, OK, so part of it was cached login information. I cleared it out, restarted all, and now it works at least partially.

I cleared out the cache in `~/.docker/config.json`. Now:

* pull without login: returns a token correctly as anonymous
* push without login: returns a token correctly as anonymous
* login: doesn't quite work. I actually get the token back, but it must be misconfigured or some

[2015-08-21 13:45] deitch commented on #22
And for the actual command:

[code]

[2015-08-21 13:48] rojer commented on #22
really weird. immediately after logging at line 250 of server.go we return the token with status 200, yet registry claims it got 401. huh?

[2015-08-21 13:50] deitch commented on #22
Yeah, that's what I thought. That's why I ran `daemon -D` and attached it here. See anything?

[2015-08-21 13:54] deitch commented on #22
For some comparison, the output from the docker daemon when I try to login to the official registry:

[code]

[2015-08-21 13:58] rojer commented on #22
this is using v1

sorry, no idea - WFM with 1.8.1 and docker/registry:2.0

[code]

and daemon's output:

DEBU[0007] Calling POST /auth
INFO[0007] POST /v1.20/auth
DEBU[0007] hostDir: /etc/docker/certs.d/docker.cesanta.com:5000
DEBU[0007] pinging registry endpoint https://docker.cesanta.com:5000/v0/
DEBU[0007] attempting v2 ping for registry endpoint https://docker.cesanta.com:5000/v2/
DEBU[0008] a

[2015-08-21 14:00] deitch commented on #22
What do you get for the next line after `trying "bearer" "?

I am running registry 2.0.1. Cannot imagine it matters, but try it?

[2015-08-21 14:00] silverbp commented on #22
The fix worked for me using v2 and docker 1.8.1. We are using google authentication for pull but don't have anonymous pull enabled.

[2015-08-21 14:00] rojer commented on #22
nothing, that's the last line

[2015-08-21 14:01] deitch commented on #22
@silverbp what registry version?

[2015-08-21 14:01] silverbp commented on #22
I updated my post but it's 2.1.1

[2015-08-21 14:03] rojer commented on #22
we're using google authn too, but the authn method shouldn't matter, as that clearly succeeds - after "Authn static avid -> true" it's over with authn.

[2015-08-21 14:03] deitch commented on #22
Yes, quite. If it is returning `200` - and the log says it is, and the `curl` says it is - then how can it possibly be giving me `401`??

[2015-08-21 14:03] rojer commented on #22
but most of all i'm puzzled by this discrepancy: i can't see how auth server can return anything but 200, and yet registry reports 401.

[2015-08-21 14:04] rojer commented on #22
yeah, go figure...

[2015-08-21 14:05] deitch commented on #22
docker 1.8.1, registry 2.0.1 and 2.1.1, cesanta/docker_auth:latest, how can this be happening??

[2015-08-21 14:08] deitch commented on #22
PEBKAC!!

[2015-08-21 14:09] silverbp commented on #22
registry logging:

[code]

auth logging

[code]

maybe it will help if you see any differences...

[2015-08-21 14:10] deitch commented on #22
PEBKAC!!

[2015-08-21 14:10] rojer commented on #22
@deitch ok, that happens. :)

[2015-08-21 14:10] #22 closed

[2015-08-21 14:11] deitch commented on #22
Sorry about that. Curious to know what it was?

[2015-08-21 14:12] rojer commented on #22
sure, do tell. probably taking to a different instance or something.

[2015-08-21 14:13] deitch commented on #22
I had copied over the registry yml from someplace else, and edited the environment, here is the relevant part. Do you see the type? :-(

[code]

[2015-08-21 14:13] deitch commented on #22
Oops, I accidentally didn't change the token issuer. Sigh. Like I said, PEBKAC.

[2015-08-21 14:14] rojer commented on #22
all right. so it did get the token, but the issuer was wrong. makes sense.

[2015-08-22 15:47] rojer commented on #19
acls are evaluated in order and the serahc terminates on first match.
this, you can achieve your goal by the following sequence of acls:
1) give the special user full access to cesanta/.+:
  match: {account: "rojer", name: "/^cesanta/.+/"}
  actions: ["*"]
2) deny access to cesanta/.* to everyone, which will effectively everyone _else_, because rojer will match in the previous ACL
  match: {name:

[2015-08-23 15:39] deitch commented on #20
I did manage to patch it, but I am trying to figure out how this is built. What is the bindata doing?

[2015-08-23 15:43] rojer commented on #20
bindata is a way to embed static file (gauth template) into the binary.
all you need should be running `make`

[2015-08-23 15:46] deitch commented on #20
In theory, yeah. In practice, of course, all of the `import` paths are hard-coded to `github.com/cesanta/docker_auth`, because of the go package structure. So I have to change every one of them but not add those to the git commit.

Here was my q to stack overflow: http://stackoverflow.com/questions/32166642/how-to-handle-go-import-absolute-paths-and-github-forks/32166819

I am hating go at this ve

[2015-08-23 15:48] rojer commented on #20
hear, hear... it's a mess alright. yeah, definitely not just make for you...

[2015-08-23 15:51] deitch commented on #20
I guess I could just put it in `$GOPATH/cesanta/docker_auth`. This whole rigid go package structure breaks git forks, destroys encapsulation, what a disastrous mess.

[2015-08-23 16:36] deitch commented on #20
PR in.

[2015-08-25 03:06] summerQLin commented on #19
For step 2), to deny access to cesanta/.*, that's why I proposed the way to deny some paths' accessibility for some user.
  `match: {name: "/^cesanta/.+/"}` means anonymous user will be allowed if matching /^cesanta/.+/
And `match: {name: "/^cesanta/.+/", name-reverse:true}` means anonymous user will be denied if matching /^cesanta/.+/

[2015-08-25 03:09] summerQLin commented on #19
Or probably you'd better to choose a better key word for the purpose.

[2015-08-25 07:09] rojer commented on #19
anonymous user will indeed match the `{name: "/^cesanta/.+/"}` rule but it will be denied, like everyone else, because the set o allowed actions is empty.

[2015-08-25 08:41] summerQLin commented on #19
Ok, that's really great idea. It's very helpful.
Thanks.

[2015-08-25 08:56] rojer commented on #19
cool. i made it more explicit in the doc.

[2015-08-25 13:04] summerQLin commented on #19
Hi Rojer,
Your deny method is really great for simple scenario. But mine seems more complex...
I found an issue here. If I do it like what you suggest, probably I'll get config like
[code]
This is helpful to protect cesanta/ repo from being pushed by user other than rojer.

However, if there comes another user called 'userA' should have pull/push right to pathA, pathB, pathC...(countless paths) ex

[2015-08-29 09:14] rojer commented on #20
image with #26 is now in :latest, will push to stable in a couple days.

[2015-08-29 09:14] #20 closed

[2015-08-29 17:08] deitch commented on #20
Excellent! Thank you!

[2015-09-21 19:35] jbruggem opened #30 "Google Oauth: Docker login fails because because of invalid char in user name"
Hi, and first of all thanks for this cool project !

I'm trying to setup docker_auth with a google apps domain. I can start the auth service fine, and logging in the auth service goes well. It then tells me to run `docker login` with my e-mail address as username and a generated string as password.

When I do so, I get the following error from docker:

[code]

Am I doing something wrong ?

[2015-09-21 19:47] rojer commented on #30
you are logging into docker hub.
add your registry address to the docker login command

[2015-09-21 19:47] #30 closed

[2015-09-30 01:06] djenriquez opened #31 "Unable to push new images after adding auth"
Hello,

I added authentication to my private registry and now am unable to push new images. Oddly enough, pulling images and pushing UNCHANGED images work fine.

However, when I push a new image, or an image that requires any layers to be updated, I get this:
[code]

Logs from the authentication server for this transaction:
[code]

I think the authentication server is doing everything correctly, b

[2015-09-30 10:13] rojer commented on #31
yes, to me this also looks like auth server has issued a token that includes push action, so registry should allow push.
please verify that `issuer` in the registry config matches issuer configured in the auth server, namely that it is set to `issuer: "djsdomain ACME server"`.
other than that i have no ideas, please re-open if you determine this to be auth server issue.

[2015-09-30 10:13] #31 closed

[2015-10-05 17:31] djenriquez opened #32 "Example of non-tls config?"
Is there an example config for using the non-tls config option merged in #25?

@rojer, @dkjer I see that this has been merged, but how does one set up the registry config to use this? The registry config hard requries a rootcertbundle, but if TLS is disabled, what do we put there?

I'm also looking at doing TLS termination on the ELB rather than in the auth server.

Could you provide examples of b

[2015-10-05 17:50] rojer commented on #32
sorry, i don't have it, i don't use it in that mode. your best bet is asking @dkjer

[2015-10-05 17:50] #32 closed

[2015-10-06 17:08] jc-evogi opened #33 "Handler for POST /auth returned error: no successful auth challenge for <myserver:5000/v2/"
Hi All,
I'm needing your help to understand why the authorization server setup  is not working for us. I am using Docker 1.8.2 and trying to integrate Cesanta's authorization server with Docker Registry (v.2.1.1) . For this integration purpose I am using the following reference  http://the.binbashtheory.com/creating-private-docker-registry-2-0-with-token-authentication-service/.  For authenticatio

[2015-10-06 18:32] djenriquez commented on #32
@dkjer, do you have an example of your non-TLS setup?

[2015-10-09 09:04] rojer commented on #33
"In the Authorization server log I can't see any message" - they should be in /var/log/docker_auth. is there really nothing there?

[2015-10-09 21:44] jc-evogi commented on #33
Hi Rojer,
Thanks for your answer. We really like your product's concept and would like to see that working in our side.
After a fail docker login session I double checked the authorization server's container and there is not files in  "/logs" directory and neither in the host "/var/log/docker_auth" directory.   Tried a quick validation of "docker run" with those 2 flags that you mentioned and they

[2015-10-13 08:22] coocla opened #35 "How to develop a docker_auth"
Hi:
    I would like to use keystone as the authentication medium, using Python as the development language, which I should follow the standards?
    For example, the API structure specification and return specification。
    Thank you.

[2015-10-13 08:39] rojer commented on #35
i'm sorry to say that developing in python is not supported and will not be in the near future. you need to use Go. a quick google search for <golang keystone authentication> brought up a couple of what looks like keystone client libraries, i suggest you use those to implement the Authenticator interface (https://github.com/cesanta/docker_auth/blob/master/auth_server/authn/authn.go#L22).

[2015-10-13 08:39] #35 closed

[2015-10-14 02:26] coocla commented on #35
I think as long as the same function can HTTP API v2 work with registry. Is not limited to the back-end development language now. I need to develop their own to implement custom interior, but I'm not good golfing. I am eager to get this HTTP API specification document developed.

[2015-10-21 16:36] ckmm opened #36 "Error when compile it"
Hi,

I'm trying to compile the server go. But i have problem. I make it and when run the "go build" show:

root@a235c66bb404:~/docker_auth/auth_server# go build
main.go:29:2: cannot find package "github.com/cesanta/docker_auth/auth_server/se
rver" in any of:
        /usr/local/go/src/github.com/cesanta/docker_auth/auth_server/server (fro
m $GOROOT)
        /go/src/github.com/cesanta/docker_auth/au

[2015-10-21 16:48] rojer commented on #36
sorry, no. must be something about your go environment.

[2015-10-21 16:48] #36 closed

[2015-10-23 10:40] rojer commented on #33
sorry, you're doing something wrong but i don't have time to troubleshoot.

[2015-10-23 10:40] #33 closed

[2015-10-26 23:15] kidhasmoxy opened #37 "Invalid Memory Address with AD LDAP via TLS"
I've configured LDAP for TLS connecting to an AD server, but I get the following error whenever a user attempts to login.

runtime error: invalid memory address or nil pointer dereference
goroutine 12 [running]:
net/http.(*conn).serve.func1(0xc82017fce0, 0x7f2f7223a268, 0xc82008c840)
	/usr/local/go/src/net/http/server.go:1287 +0xb5
github.com/go-ldap/ldap.(*Conn).StartTLS(0xc82027c900, 0xc8201c168

[2015-10-27 00:16] rojer commented on #37
i have no way to test it, unfortunately, we don't use LDAP, let alone with AD.
let's ask @summerQLin who wrote the LDAP plugin. any ideas?

[2015-10-27 01:53] summerQLin commented on #37
@kidhasmoxy could you please paste your ldap_auth.yml configuration here?

[2015-10-27 11:50] kwk opened #38 "Proposal: allow to outsource ACLs"
Hi,

I'm using `cesanta/docker_auth` in my [docker-registry-setup](https://github.com/kwk/docker-registry-setup) project. It serves as a proof of concept and shall make up the foundation for developing a next generation of docker registry frontends. My old [docker-registry-frontend](https://github.com/kwk/docker-registry-frontend) has no notion of authentication built into it except for Apache-bas

[2015-10-27 11:57] kwk commented on #38
I've looked into what other developers are doing in their forks and found out that https://github.com/gravitational/docker_auth seems to be implementing what I asked for in this issue/proposal:

* For managing ACLs with endpoints: https://github.com/gravitational/docker_auth/commit/dcf760c58c681cda5960a33c754e4e549cc0c3c7
* For ACLs stored in an (SQL)-database: https://github.com/gravitational/doc

[2015-10-27 21:58] kidhasmoxy commented on #37
I can paste a redacted version, to start. Although, now that I look at this closer, I realize that we should be searching for sAMAccountName for AD. I'll try that to see if it helps.

ldap_auth:
  addr: "my.public.domain:636"
  tls: true
  # In case bind DN and password is required for querying user information,
  # specify them here. Plain text password is read from the file.
  bind_dn: "CN=svc_l

[2015-10-27 22:20] kidhasmoxy commented on #37
Still no go, as the error is happening at the StartTLS phase. I validated the connection information to LDAP with OpenLDAP client, so the content is correct. Is there an option of using DialTLS for testing? I haven't been able to put together an environment to recompile, or I would try it myself.

I1027 22:16:53.307686       1 ldap_auth.go:126] Dial: starting...redacted.example.com:636
dockerauth_

[2015-10-29 12:20] kidhasmoxy commented on #37
I did some testing with the ruby net:ldap library and ran into a similar "connection reset by peer" issue when I used StartTLS. The connection was successful when I switched to using the "Simple_TLS" option.

The setup we employ means that there's no LDAP connection available for our AD (I believe it's via Win Server 2008), and we only accept connections over LDAP/S.

@summerQLin Would reverting t

[2015-10-29 13:57] rojer commented on #38
i don't have immediate plans, this server was written as a quick fix and so far we're ok with the functionality. but i accept PRs, and db-backed ACL sounds fine to me. if i were to do it, i'd create a new authenticator that reuses ACL structures but consults DB instead of a static list.

[2015-10-29 13:58] rojer commented on #38
i introduced these authn/authz interfaces precisely so people can plug in their own creations :) so far i merged LDAP and will accept db-backed auth.

[2015-10-29 13:59] rojer commented on #38
i'll close this one, feel free to send a PR

[2015-10-29 13:59] #38 closed

[2015-10-29 14:39] kwk commented on #38
That is good to hear @rojer. Thank you for being so open to contributions!

The ACLs are in fact a bit hard to store in a DB.
I mean it is totally possible to store something like `match: {account:
"/.+/", name: "${account}/*"}` but to query this is much harder.
I my opinion this is how an ACL DB backend needs to work:

* Query all ACLs from the database and let them be processed by the
docker_aut

[2015-10-29 14:46] rojer commented on #38
yes, i agree that storing strings is a bad idea. i'd create a db schema that maps columns to `ACLEntry` fields and use that.
the scheme where you periodically refresh full list from DB also sounds fine, at least for starters.
with that, you can actually fully reuse existing `ACLAuthroizer`, just have an instance inside your `DBACLAuthorizer` (or whatever it ends up being called) and delegate Autho

[2015-10-29 19:00] derekchiang commented on #38
The way I'm storing ACLs in [my fork](https://github.com/gravitational/docker_auth) is to have a string field for each ACL field (e.g. `name`, `type`...) and directly use SQL to do regex matching:

https://github.com/gravitational/docker_auth/blob/c320b579fdefa24f9bc829281134b214916b63e6/auth_server/authz/db.go#L26

In my fork, there's also a Postgres-based docker image that can be used as the DB:

[2015-10-29 22:21] clarktlaugh opened #39 "ACL for allowing anonymous access to catalog"
I would like to setup my ACL to allow anonymous access to the catalog, as well as pulling all images.  Could someone help me with how to specify that?

Here's what I am currently using, but it isn't working:

[code]

This is what I get when I try to hit ```https://my-registry.server.org/v2/_catalog``` in a web browser:
[code]

[2015-10-29 23:42] rojer commented on #38
direct matching looks interesting, but it seems specific to pg. i'd like something more generic, or carefully tuned to at least the most popular engines.

[2015-10-30 03:03] summerQLin commented on #37
@kidhasmoxy, port 389 is not available for your AD, right? StartTLS should go with port 389, ldap:// not ldaps://. I will have TLS enabled.

[2015-10-30 18:19] kidhasmoxy commented on #37
Exactly, 389 is filtered publicly by firewall, but instead require TLS from the start.

[2015-11-03 07:36] kwk commented on #39
Try to access your registry's catalog using curl `curl -v https://YOUR_REGISTRY:5000/v2/_catalog` and inspect the `Www-Authenticate` header in the response from the registry. It should give you a hint on what permissions are required to access the `_catalog` resource.

I've setup a docker-registry, authentication and LDAP server ready to use if you want to try out various scenarios: https://github

[2015-11-03 07:49] kwk commented on #38
I vote against direct or regex matching for two reasons:

1. First, it should be up to the auth server to decide on which ACL to use. With direct/regex querying you hide some of the ACLs from the auth server. Maybe those ACLs are obviously not needed but it introduces potential errors.
2. In the current implementation by @derekchiang, it is assumed that only one ACLs matches the search query. Is t

[2015-11-03 09:09] rojer commented on #38
good points, Konrad. we can leave direct matching as an optimization for later (if ever).

[2015-11-04 05:56] shyr opened #41 "When creating a token, 'not before' is really necessary?"
If the time of running this server (for example, my local PC) is different with time of docker registry (on IDC), token will be failed to verify, because of nbf(not before) in claim.
To be specific, when the time of docker_auth is faster than that of docker registry, we should wait to verify a token as the gap.

By the way, `nbf` field can get away. It's optional (https://tools.ietf.org/html/rfc75

[2015-11-04 05:59] shyr commented on #41
Anyway, It was very time-consuming to figuring out this problem. T^T
I hope others not spend time with it.

[2015-11-04 07:41] rojer commented on #41
working as intended. we allow 1 second of difference (we set nbf = now - 1), but beyond that, please make sure your clock is synced, use NTP.

[2015-11-04 07:41] #41 closed

[2015-11-04 12:52] kwk commented on #38
@rojer I am making good progess with a MongoDB ACL backend but one thing I noticed is that it would be nice to have an additional comment field (of type `*string`) in the the `ACLEntry` struct:

[code]

Can you live with that? I'm happy to make the required changes so that a comment on a static ACL actually becomes part of the structure:

**Before:**

[code]

**After:**

[code]

Is such a change o

[2015-11-04 18:55] rojer commented on #38
yes, makes sense, merged your PR.

On Wed, Nov 4, 2015 at 12:52 PM Konrad Kleine <notifications@github.com>
wrote:

--
Deomid Ryabkov,
Software Engineer
Cesanta Software Ltd.

[2015-11-04 19:16] rojer commented on #39
acl is the authorization part, i.e. when we know who are we talking to.
the part where we authenticate precedes that.
you didn't paste the `users` part of the config, but basically this line is crucial for allowing anonymous access:
```"": {}  # Allow anonymous (no "docker login") access.```

this is from https://github.com/cesanta/docker_auth/blob/master/examples/reference.yml

[2015-11-04 19:16] #39 closed

[2015-11-04 19:58] clarktlaugh commented on #39
Sorry -- this is the users: and acl: portion of my config:

[code]

[2015-11-06 00:18] rojer commented on #39
can you run the server with --v=2?
it should be clear why request is being rejected.
if not, post the log here.

[2015-11-09 11:14] corepb opened #45 "Using {account} variable in ACLs and Oauth"
Hello everyone!

When I am trying to use a match like:
{account: "/.+/", name: "${account}/*"}

and when I want to use it together with google_auth I am having such an issue:

root@dockercli:~# docker tag a5a467fddcb8 registry.somedomain.org/corepb@somedomain.com/ubuntu-test
FATA[0000] Error response from daemon: Illegal tag name (somedomain.com/ubuntu-test): only [A-Za-z0-9_.-] are allowed, minim

[2015-11-09 15:34] rojer commented on #45
this doesn't seem like auth server error to me.

the error seems pretty clear: tag name is illegal

[2015-11-09 15:44] corepb commented on #45
I agree rojer, more like a feature request.

So currently (when using Google auth) I can use variable {account} which is equal to someaccount@somedomain.com.

It would be really nice to have {account_prefix} which would be 'someaccount'.

Then something like:

docker tag a5a467fddcb8 registry.somedomain.org/corepb/ubuntu-test
docker push registry.somedomain.org/corepb/ubuntu-test

would be possibl

[2015-11-09 15:45] rojer commented on #45
ah, i see, that's what you mean... ok. let me think about it.

[2015-11-09 16:40] corepb commented on #45
Thanks rojer!

[2015-11-09 17:24] rojer commented on #45
i don't want to introduce a special variable, but supporting capture groups would work.
something like this:
`{account: "/^([^@]+).*/", name: "${account:1}/*"}`
`${account:N}` would reference capture group `N` obtained when matching `account`.

can you code it yourself? i'd take a PR that implements that. if not, then i'm afraid you'll have to wait until i have some spare time, for which i cannot

[2015-11-12 16:02] akatrevorjay commented on #37
Yeah, I ran into this as well when trying to use LDAPS before looking in the code and realizing it's not yet supported (only TLS is at the moment).

[2015-11-16 17:24] nynymike opened #47 "OpenID Connect Support?"
You have Google authentication, and with just a little more work, you could support [OpenID Connect](http://openid.net/connect). Google's server is [almost compliant](http://openid.net/certification)--they don't support dynamic client registration. I bet a lot of companies that use Docker don't want to rely on a central consumer IDP like Google, but would rather run their own authentication servic

[2015-11-16 17:37] rojer commented on #47
docker_auth is a side project for us (me). Google auth is there only because we use it, and LDAP is there only because other people were interested.
but yeah, what you're saying makes sense. however, it will have to wait until someone comes along to implement it or i have spare time.

to anyone reading this: feel free to take it on and generalize google auth to open id and send me a PR.

[2015-11-22 04:51] #37 closed

[2015-11-22 05:31] rojer commented on #37
I finished @summerQLin 's PR and pushed. :latest has the new code but I have not tested it - as i hsaid, i have no access to a LDAP server. if someone could report here, that'd help.

[2015-11-25 15:31] silverbp commented on #4
A couple things now that I'm finally getting around to this..

if you go into your ~/.docker/config.json file and pull out the value for "auth", then base64 decode it you can pass it into curl like this:

curl -v --user {base64decodedtextfromabove} -d 'account={username}&service=registry&scope=repository:{imagename}:pull,push' https://{registry_server_url}/auth

don't forget the forward slash auth

[2015-11-29 07:01] jmmills opened #49 "Does this support network address ACLs?"
Working on a PoC for a docker registry cluster with authentication and authorization. Use case would be that I would want developers to be able to pull images but not push if they log in, docker hosts (servers) to be able to pull images but not push if they are in a whitelist (for example a known network, or by a private key), and a build server to be able to push images.

[2015-11-29 14:22] rojer commented on #49
no, network address cannot be matched against at present. should be easy to add though. the best is for you to send a PR, or wait until i have time (warning: may take a while)

[2015-11-29 18:43] jmmills commented on #49
Okay, I should probably figure out how to deploy it first and my Go isn't very strong. But I'll give it a shot.

[2015-11-30 14:42] #49 closed

[2015-12-03 12:35] julakali commented on #37
Using tls = always works for me (ldaps), but this will result in the following error:
authn #2 returned error: LDAP Result Code 200 "": tls: either ServerName or InsecureSkipVerify

Specifying insecure_tls_skip_verify=true will work, but i would rather like to be able to specify the ServerName :)

[2015-12-04 03:35] summerQLin commented on #37
@julakali could you please try to add your ServerName here https://github.com/cesanta/docker_auth/blob/master/auth_server/authn/ldap_auth.go#L144
to have a test?
Change this line to be
[code]
Please let me know your test result.

[2015-12-08 07:53] zhengxiaochuan-3 opened #51 "can not build it by Makefile"
root@ubuntu-zxc:/home/docker_auth/auth_server# make
go get -v  -u  github.com/tools/godep github.com/jteeuwen/go-bindata/... .
github.com/tools/godep (download)
github.com/jteeuwen/go-bindata (download)
Fetching https://_/home/docker_auth/auth_server?go-get=1
https fetch failed.
Fetching http://_/home/docker_auth/auth_server?go-get=1
import "_/home/docker_auth/auth_server": http/https fetch for im

[2015-12-08 11:29] SydOps commented on #51
@zhengxiaochuan-3

Try with below steps:
[code]

Let me know if you got any progresses.

[2015-12-08 11:55] rojer commented on #51
thanks, Bill.
yes, you need a properly set up Go environment.

[2015-12-08 11:55] #51 closed

[2015-12-08 11:59] SydOps commented on #51
@rojer

I can generate `auth_server` with command `go build`.
[code]
But when I run `make`, I still have issues:
[code]
What did I miss?

[2015-12-08 15:02] tmuesele opened #52 "Not able to search images with "docker search""
Hi everyone,

I set up the auth. server and it is working really well with the pull/push requests.
The only missing part is the "docker search" part.
I added my private registry in the docker config (--add-registry) but I'm not able to run the search.

I can see this error-message with every search-request in the registry-logs:
registry_1 | time="2015-12-08T14:29:59Z" level=warning msg="error auth

[2015-12-11 16:37] Sylvaindce opened #53 "Error 400 OAuth 2.0"
Hi,
I'm working to deploy a google auth for a private registry with your docker_auth and after configuration the Static user works perfectly but when i try to use Google Auth, it tell me error 400.

Any Idea?
![error](https://cloud.githubusercontent.com/assets/12686429/11865922/b36f1dbe-a4a7-11e5-8ac7-056eaf35cbd9.png)

Thanks in advance

[2015-12-11 16:46] rojer commented on #53
google auth is a bit finicky and 400 doesn't give much diagnostic.
make sure you're using the right client id and that it's configured properly.
fwiw, here's how mine is configured
![oauth client docker login](https://cloud.githubusercontent.com/assets/531307/11749603/ae97cbe0-a026-11e5-9215-0768ff37263f.png)

[2015-12-14 11:11] rojer commented on #52
sorry, no idea. if you think this is related to auth, you'll need to provide more info.

[2015-12-14 11:11] #52 closed

[2015-12-16 02:05] dpetzel opened #56 "Question on ACL Order"
I'm not sure if this intended, a bug, or I'm doing something wrong. I'm attempting configure some ACLs and I've used the reference example as a starting point.

When I have this configuration:
[code]
As you would expect I am able to pull just fine, however pushing to a repo in the users namespace It tosses an `unauthorized: authentication required`.

However this works (its exactly the same, just

[2015-12-16 02:16] rojer commented on #56
yes, this is intended.
as documented, ACLs are searched until first match is found, so you need to put more specific ACLs first.

reference is actually wrong, the more specific ACL that allows push to user's namespace has to go before the one that allows pulls to all logged in users. i'll fix the example.

[2015-12-16 02:16] #56 closed

[2015-12-16 02:23] dpetzel commented on #56
awesome, thank you very much (for the answer and the application)

[2015-12-17 09:11] Sylvaindce commented on #53
Thanks for your answer, I have the same configuration but i guess it didn't work with local address.

For me after https://localhost:5001
it https://10.10.0.101:5001

Have you ever tried with local address ?

[2015-12-17 09:16] Sylvaindce commented on #53
Like that
![console](https://cloud.githubusercontent.com/assets/12686429/11865865/39bcb97c-a4a7-11e5-99a2-f607f92f8d0a.jpg)

[2015-12-17 23:41] carsonoid opened #58 "Bad regex pattern from mongo shuts the entire server down"
I am running several instances of the auth server in production and I need to acl fetching to be more robust. Right now one bad acl entry will shut the entire server until manually restarted.  Ideally bad rules will simply be ignored and the rest of the ACLs will continue to load. I'm happy and ready to write the code myself but I want your input on policy before I do anything. Maybe we could have

[2015-12-17 23:49] rojer commented on #58
is failure to start what you see, or do you see it crashing when reloading? that is not supposed to happen, if it does, i'd like to see the stack trace.

the intended behavior is for the server to fail to start if ACL entries cannot be parsed, but if an entry has been added while it was running, it will refuse to load config.

i don't think simply ignoring acl entries is a good idea.

[2015-12-18 19:44] carsonoid commented on #58
18:23:25.178534       1 main.go:43] Config from /auth_config.yml (2 users, 3 ACL static entries)
18:23:25.178578       1 acl.go:89] Created ACL Authorizer with 3 entries
18:23:25.179243       1 mgo_session.go:64] Creating MongoDB session (operation timeout 10s)
18:23:25.184895       1 acl_mongo.go:136] Number of new ACL entries from MongoDB: 6
18:23:25.184915       1 main.go:46] Failed to create a

[2015-12-18 20:23] rojer commented on #58
as i said above, this is the intended behavior: the server will fail to start if it cannot parse its ACLs.
how do you propose to fix this?

[2015-12-18 20:37] carsonoid commented on #58
I'm sorry for wasting your time. I just realized that this was happening because of my particular configuration. I have a docker-compose container set running with the auth config file mounted host to container.  The crashes I've been seeing "while running" were actually do to the server *restarting* when I saved updates to the config file.  Upon further investigation I have found that the ACL han

[2015-12-18 20:51] rojer commented on #58
no problem, thanks!

[2015-12-18 20:51] #58 closed

[2015-12-29 19:55] stevendborrelli opened #59 "Auth fails if auth container has newer time than the registry server"
We saw an issue where the auth server was about 30 seconds ahead of the registry server due to misconfigured ntp. This got us thinking that there could be an issue if the auth server is even a couple of seconds ahead of the registry server. Should there be a little bit of a window (say 5 seconds before)?

`time="2015-12-29T19:50:55.842580115Z" level=error msg="token not to be used before 145141868

[2015-12-29 22:36] rojer commented on #59
there is, and it's 1 second:

```NotBefore:  now - 1,```

keeping accurate time is both easy and important for security. make sure your ntp is set up correctly.

[2015-12-29 22:36] #59 closed

[2016-01-03 18:48] maticmeznar opened #60 "Improper exit code"
When I stop docker_auth with Ctrl+C (SIGINT) or SIGTERM, it exits with exit code 1. When docker_auth fails to start due to being unable to read the config file, it also exits with code 1.

POSIX convention says exit code 0 indicates success - no error. Exit codes other than 0 indicate failures. docker_auth can be fixed by exiting with code 0 on a clean exit.

[code]

[2016-01-13 16:25] kwk opened #61 "Feature Request: Prolong token lifetime through Refresh tokens (request for comments)"
Hi,

I'm not sure if this is the plan behind PR #29 but I wanted to propose a mechanism to be able to prolong  the lifetime of a token.

# Use case

Normally, you're probably going to use the auth server not directly but transparently through your `docker` client when you pull (or push) an image from a docker image registry. The docker client is *smart* enough to actually store a copy of your user

[2016-01-18 12:06] rojer commented on #61
yes. frankly, the idea of storing plain text u/p on the client horrifies me.
this is why i went for a temporary passwords for google auth - no way i'm going to store google account password in the clear. it basically already acts as such a token - despite being called a password.
it has not expiration itself, just as oauth refresh token.

maybe we can generalize that mechanism?

[2016-01-18 20:45] tyagian commented on #14
There is temporary solution working fine for me:
Just change config.jason file to

{
"auths": {
"https://index.docker.io/v1/": {
"auth": "<hash value>",
"email": "<email-d>"
},
"https://registry-win-tp3.docker.io/v1/": {
"auth": "<hash value>",
"email": "<email-address>"
}
}
}

<a href="
http://networkengg.com/docker-login-failed-on-windows-403-forbidden-error/">Docker 403 forbidden error</a>

[2016-01-20 19:10] dpetzel opened #62 "either ServerName or InsecureSkipVerify must be specified in the tls.Config"
I'm attempting to get LDAP auth working and I'm getting this error

[code]

Things do work if I set `InsecureSkipVerify`, but for obvious reasons I'd rather not. I cam across [this](https://github.com/cesanta/docker_auth/issues/37#issuecomment-161865181) which suggests it may not be supported yet.

I also seems I can not directly manipulate `tls.Config` Is it possible to set ServerName currently v

[2016-01-22 20:26] dpetzel commented on #37
FWIW, I can confirm adding `ServerName` as suggested above did work for me.

[2016-01-22 21:19] jmmills opened #63 "LDAP group matching example?"
Can someone give me a hint on how I would write the config to source authentication from LDAP, and then specify access control based on group?

Essentially I want members of the developer group to be able to pull images but not push them (so nobody accidentally clobbers a production image).

Also, I was able to get registry v2 negotiating TLS and authentication with a basic auth backend, and it wo

[2016-01-23 20:14] rojer commented on #37
@dpetzel can you send a PR? i'll merge it

[2016-01-30 08:37] dreamcwli commented on #39
I have the same problem here. After playing around for a bit I found that registry will always ask for bearer token when accessing catalog. Related bugs seem to exist in registry rather than in docker_auth.

[2016-02-02 13:45] tjenkinson opened #64 "Localhost acl rule fails because docker push is using server ip not localhost"
Any idea how to make `docker push` run with the source address "127.0.0.1"?

[2016-02-02 18:03] carsonoid commented on #64
It sounds like all you need to do is add an acl to allow pushes from your server ip.

So for example if you are logged into a server with the host "myserver.com" and running ``docker push myserver.com/img:tag`` You can add an acl to allow pushes from whichever ip myserver.com has.

Or you could add entry into your server's /etc/hosts to make sure that myserver.com resolves to 127.0.0.1 instead of

[2016-02-03 12:34] tjenkinson commented on #64
Thanks @carsonoid. I would prefer not to do the first method in case the server ip changes. The second one looks good but still doesn't work for some reason.

Without the "127.0.0.1   myserver.com" entry when I do a pull I get this in the log
[code]

With I now get this
[code]

It still doesn't work because "172.17.0.1" is not in a rule. Any ideas why it's now "172.17.0.1" not "127.0.0.1"?

[2016-02-03 12:39] tjenkinson commented on #64
I'm really new to docker but googling looks like that might be the ip that the host has on dockers bridged network?

[2016-02-03 12:43] tjenkinson commented on #64
Can someone confirm that in the having "127.0.0.1" in an acl actually can work?
I'm thinking maybe it can't because the docker container running the auth server might have it's own "127.0.0.1", which is different to the hosts "127.0.0.1", hence why it's now seeing the ip that the host has on the bridge network. That sound like it could be a valid theory?

[2016-02-03 12:54] tjenkinson commented on #64
Ok yes so it looks like the default docker bridge network is what containers get put onto, which is basically a nat network, and the gateway ip on this network (ie the host) is 172.17.0.1.

So I now have:
[code]
and it works!

So my question now is should this be the ip in the default config, not 127.0.0.1?

[2016-02-03 23:21] scatat commented on #51
So I don't know if you got round this or not ( I suspect you did :) ) - but the solution is documented here: https://github.com/tools/godep/issues/377
More specifically, one needs to run "go get golang.org/x/sys/unix" manually.

Beng a Go newbie, I struggled with deps not being found until I set up my workspace as per: https://golang.org/doc/code.html  - ie:
- Set up the dir structure as detailed

[2016-02-13 09:19] #64 closed

[2016-02-13 09:24] rojer commented on #63
i assume you want to control access to certain images based on group membership.
this is not possible currently and will require code changes - a "LDAP authorizer" will have to be written. currently we only have authenticator.

[2016-02-13 12:34] xinzhangcmu commented on #63
any plan to add support for group based authz? I have been trying the docker authz in our enterprise setting (and it works great, thanks!), and have the exact need

[2016-02-13 12:45] rojer commented on #63
no immediate plans. docker_auth is a side project for us at cesanta, and we don't use LDAP auth.
LDAP auth was contributed by @summerQLin - maybe you can ask (or pay) him to do it.
i will accept PR if you decide to do it and wish to contribute.

[2016-02-21 23:40] bigfoot90 opened #66 "Unable to authenticate - Error 404"
I've deployed a private registry on ```my.domain.com:5000``` and docker auth on ```my.domain.com:5001```.

I'm now trying to login by ```docker login my.domain.com:5001``` but I'm facing with error:
[code]

If I try to login to port ```5000``` instead I'm having
[code]

[2016-02-22 04:25] rojer commented on #66
you should indeed login to the main registry port, i.e. 5000.
registry will respond with auth URL for client to use to obtain ticket (which will be 5001).
please post your registry and auth server configs and logs.

[2016-02-22 19:01] erikswanson opened #67 "Support requests for multiple scopes"
Per docker/docker#20387:

[2016-02-23 05:22] rojer commented on #67
let's see... can you give me an example of a token request that is handled incorrectly?

[2016-02-24 01:14] erikswanson commented on #67
My own logs have aged off (I had to fall back to a different form of auth), but my understanding is they'd look like this:

    GET https://myregistry.private/auth?service=myregistry.private&scope=repository:foo/my-app:pull,push&scope=repository:foo/my-otherapp:pull

[2016-02-24 01:35] rojer commented on #67
i see. this should be easy to do. what is the actual use case for this? when does this happen?

[2016-02-24 06:24] erikswanson commented on #67
Docker 1.10 has the ability to avoid pushing the same layer to different repositories. To do that, it needs push and pull rights on the target repository, and pull rights on the repository that is the source of the "mount".

This helps a *ton* in the case of several $platform applications that all use the same customized $platform docker image.

[2016-02-24 13:05] rojer commented on #67
i see. as i said, it should be easy to do, but i'm super busy atm.
if you (or anyone else reading this) do it, please send a PR, otherwise i'm afraid this will have to wait a few days

[2016-02-25 21:00] rojer commented on #67
@erikswanson i built and pushed `cesnat/docker_auth:scopes`, can you give it a go?

[2016-02-26 16:13] erikswanson commented on #67
@rojer Sorry, I'm super-busy for the next few days and it's not trivial for me to roll back the emergency removal of token auth from my production registry/fallback to an awful nginx conditional basic auth bodge. (The lack of it was triggering a serious performance issue in Docker 1.10.1, making my push times way worse than with < Docker 1.10: When a "mount" failed due to token scope, it'd fall al

[2016-02-26 17:14] rojer commented on #67
so i just need docker 1.10, re-tag some image as a different one, push and i should see requests for multiple scopes, right?

[2016-02-26 17:34] erikswanson commented on #67
A different repository (foo/bar vs foo/baz) within the same registry, yes.

[2016-02-26 22:20] rojer commented on #67
installed docker 1.10, verified that multiple scope auth requests and cross-repo pushes now work

[2016-02-28 10:18] #67 closed

[2016-02-29 22:01] #66 closed

[2016-03-01 08:09] bigfoot90 commented on #66
Thank you very much for you support, I've resolved.

[2016-03-02 15:59] mv012004 opened #69 "auth-server not connecting to secure mongodb replicated cluster"
Configured the auth-server same as the example with details modified to connect to my replicated mongodb cluster, we are seeing the following error,

[code]

The mongodb cluster has internal authentication and my other java app is able to connect to the same without issues using the credentials, unable to do that through docker-auth.

Anyone has any experience with mongo auth ?

[2016-03-02 16:33] carsonoid commented on #69
I wrote the auth portion of the mongo integration. We use it daily with
both authentication and a replica set without issues. Care to share your
configuration? (with usernames and passwords obscured of course)

On Wed, Mar 2, 2016 at 8:59 AM, mv012004 <notifications@github.com> wrote:

[2016-03-02 16:47] mv012004 commented on #69
This is the config that we have set, the mongo schema version is 3 and uses MONGODB-CR for auth.
`
server:
  addr: :5001
  certificate: ""
  key: ""
token:
  issuer: Auth Service
  expiration: 900
  certificate: "/config/server.pem"
  key: "/config/server.key"
# Static user map.
users:
  "": {}  # Allow anonymous (no "docker login") access.

ldap_auth:

  addr: xxxxx.yyy.zzz.com:389
  # Setup tls

[2016-03-02 17:00] carsonoid commented on #69
It looks like you put your mongo auth information underneath the ``acl_mongo`` section.  The only auth I see here is ``ldap_auth``  so the error you are getting is likely coming from there.

Just to clarify: Are you trying to do auth with ldap and acls with mongo? Or are you trying to do auth with both mongo and ldap?

[2016-03-02 19:08] mv012004 commented on #69
OK.. so we are doing user authentication through LDAP, and then the authorization/acls on the repository/namespaces based on the mongo data.

[2016-03-03 15:56] mv012004 commented on #69
@carsonoid can you help ?

[2016-03-03 16:53] carsonoid commented on #69
The fact that the logs says "failed to create **auth** server" makes me think that i'ts your ldap configuration that is causing the crash..  What happens when you comment it out the ldap_auth section and run the server?

[2016-03-04 13:53] mv012004 commented on #69
I will try that out, however the LDAP auth + Mongo DB connectivity seems to work fine if we clear out out the username/password and get rid of the auth from Mongo.

**not authorized for query on dockdb.auth**
So i feel that the auth server fails to initialize due to mongo not authenticating. Will confirm in a bit on what happens when i comment the LDAP out.

[code]

[2016-03-09 16:55] mv012004 opened #71 "mongo acl update fails on primary re-election of mongo replica set"
We are facing a strange issue when the primary mongo instance from the mongo cluster goes down, the auth server throws the following error in the logs,

[code]

Once the config file is changed (i just did an `echo " ">> /config/ldap_auth.yml`) and it reloaded the config and it starts working

[code]

Has anyone seen a similar issue and is there a better workaround/fix for setting the read preferen

[2016-03-09 17:24] carsonoid commented on #71
First off, you should update  your auth_server. Judging by the line numbers
in the errors you are running an old version.  The new version will most
likely handle this correctly.

---

However when it comes to authentication with mongo we should implement a
fix so that we automatically retry when we get EOF errors.

There is a long discussion about this here:
https://github.com/go-mgo/mgo/issues/4

[2016-03-09 21:06] mv012004 commented on #71
Thanks @carsonoid let me quickly try this, will keep you posted.

[2016-03-13 22:32] dliappis opened #72 "Possible regression with multiple scopes support?"
After https://github.com/cesanta/docker_auth/pull/68
I have been having issues pushing or pulling images using ACL accounts that don't have top level repo access in my private repo.

The following conf file used to work with docker_auth prior to PR#68, which basically defines the following users:

`admin` should have full access to all levels
`orgadmin` should have full access only under `org/*`
`

[2016-03-13 22:35] rojer commented on #72
please run the auth server with `--v=2 --alsologtostderr` and post the log here
it should show exactly what rule matched what

[2016-03-14 11:28] dliappis commented on #72
Many thanks for looking at this @rojer

Here are the logs:

[code]

With the config shown above, I don't see why `orgadmin` is shows as not matching any authz rule when trying to push under `org/*`

Incidentally, I have also added support for the X-Forwarded-For header, to properly log IP address when behind a load balancer, but I did this test with `cesanta:latest`; I will send a PR later for the

[2016-03-14 11:48] rojer commented on #72
indeed, this is strange

from looking at the code i have only one guess - somehow AuthRequest.Account is not set or is different from AuthRequest.User

i noticed that we don't log it, we only log User. i added it to log and pushed to :latest, can you give it a go and post a log here?

[2016-03-14 13:38] dliappis commented on #72
Here you go @rojer

[code]

this is with

[code]

[2016-03-14 14:33] rojer commented on #72
tried to repro and couldn't:

[code]

ok, i'll have to ask a stupid question - are you sure your ACL is loaded?
you should see "Created ACL Authorizer with 4 entries" at startup

[2016-03-14 14:36] dliappis commented on #72
Hm that's weird. Yes sure, the ACL is loaded cause the general `admin` account works and this is the output:

[code]

can you paste your conf file?

[2016-03-14 14:46] dliappis commented on #72
Good heavens @rojer for the sake of testing late night yesterday I tried:

`  - match: {account: "orgadmin", name: "${account}/*"}`

instead of the usual

`  - match: {account: "orgadmin", name: "org/*"}`

Now I am pretty certain it wasn't working with either yesterday but with the :latest, I just reverted to the latter (`  - match: {account: "orgadmin", name: "org/*"}`) and I was able to push

I

[2016-03-14 14:53] rojer commented on #72
wait. `{account: "orgadmin", name: "${account}/*"}` is not the same as `account: "orgadmin", name: "org/*"`, because `${account}` will (well, should) expand to, predictably, `orgadmin`.

now, i built and pushed `:test` which adds even more verbose logging on matching, please try it and post the log.

[2016-03-14 14:57] dliappis commented on #72
Ok trying `:test` build now. Will post asap. Thanks for the help @rojer !

[2016-03-14 15:19] dliappis commented on #72
Here is the whole log, including `docker login` and then a push. I seems to work.
Additionally I tried pull as `orgreadonly` and could pull but not push as expected.

Is master up to date (without the extra logging of :test of course)? I would like to build it myself to add a few lines (https://github.com/dliappis/docker_auth/blob/2de3684f163b7ad871bc2f59aa5366d295c17a59/auth_server/server/server.

[2016-03-14 16:19] rojer commented on #72
ok, so `:test` works but `:latest` doesn't? this i cannot explain.
yes, feel free to debug yourself. https://github.com/cesanta/docker_auth/compare/test?expand=1 are the changes in `:test`.

[2016-03-14 17:37] dliappis commented on #72
No no @rojer `:latest` works too, but as I saw that you pushed `:latest` earlier today without a corresponding commit in `https://github.com/cesanta/docker_auth/commits/master` I thought there was uncommitted code.

Thanks for pointing me to the `test` branch, I will dig more into it but from the tests I have done so far I can say that both `:latest` and `:test` work. The only thing I can assume i

[2016-03-14 17:51] rojer commented on #72
yes, i think it was something with your config because i did not push any other changes to :latest
ok, no problem. feel free to reopen if you find something.

[2016-03-14 17:51] #72 closed

[2016-03-16 20:31] mv012004 commented on #71
Thanks for pointing us to the new version @carsonoid
The issue still persisted with the new version, but as a temp fix, we created a crontab which parses the log every minute and creates a field in the yml file (errorCount) and updates the value so that the main.go reloads the config and the mongo config refreshes.

**cache_ttl issue

We observed that when the cache_ttl timeout is reached and the

[2016-03-18 05:57] lakwarus opened #73 "Auth with LDAP error"
Hi ,

I tried with ldap auth and getting following error. My config are bellow. Any idea?

ldap_auth:
  addr: "ldap://ldap.xxx.com:389"
  tls: true
  # In case bind DN and password is required for querying user information,
  # specify them here. Plain text password is read from the file.
  bind_dn: "uid=docker,ou=staff,dc=xxx,dc=com"
  bind_password_file: "config/pass.txt"
  # User query settings

[2016-03-21 09:04] joey-jihua opened #74 "question about start the image"
i following the readme to try this, but i always get following error:
------------------------------------------------------------------------------------------------------------------------------
root@ubu89:/config# docker run     --rm -it --name docker_auth -p 5001:5001     -v /path/to/config_dir:/config:ro     -v /var/log/docker_auth:/logs     paasrepo.io:5000/docker_auth:latest --v=2 --alsolog

[2016-03-21 09:26] tinytub commented on #74
@joey-jihua
`-v /path/to/config_dir:/config:ro` this part of option means you should put your auth_config.yml in "/path/to/config_dir" (the path in your host),and it will mount this path to "/config" in you container.

I guess you only put the auth_config.yml in your host /config path not in "/path/to/config_dir" on your host

maybe you should learn more about docker's options.

[2016-03-21 09:31] rojer commented on #74
thanks @tinytub

[2016-03-21 09:31] #74 closed

[2016-03-21 17:58] gauravbhandare opened #75 "[Proposal] : Parameterize the NotBefore validity of token for NTP sync issues more than 1 sec"
I am using docker auth and has been working fine. Lately with AWS multi AZ setup and cross AZ load balancing, we observed that the time on the hosts was not in sync to the sec.

I understand from #41 and #59 that NotBefore flag cannot be made optional, however can we make the hardcoded 1 sec value optional/configurable from the config yaml file.

This will certainly help users like us where we are

[2016-03-21 18:01] rojer commented on #75
so, what value would you use? would, say, 3 seconds be enough? in that case we can just change the value.

[2016-03-21 18:30] gauravbhandare commented on #75
In my case it was 8 secs. I am thinking having it configurable will allow users to decide. I have generated a pull request keeping default as 1. I can put an upper limit as well if you feel. But i guess keeping it us to user will help.

[2016-03-21 18:39] mv012004 commented on #75
+1, think this should be parametrized, so that it is flexible for people to use as is.

[2016-03-21 18:53] rojer commented on #75
8 seconds? this really doesn't sound right. properly working NTP should not get _that_ far out of sync.
1 might be too tight, that's true.

let me think about it. we need to balance flexibility with proliferation of knobs.

[2016-03-21 21:52] rojer commented on #75
in my experience, a machine with properly configured NTP will not get off by whopping 8 seconds, this just doesn't happen, unless the machine's RTC is misbehaving. it also sometimes happens after boot, when a machine that's been long off comes back. but in that case ntpdate during boot should bring it in sync before starting services.

so, i don't think we need a knob to control this.

that said,

[2016-03-21 22:18] gauravbhandare commented on #75
Submitted PR #76 for this.

[2016-03-21 22:23] rojer commented on #75
i see, but it does more than i'm willing to accept. please squash it to one commit and leave just the 1 -> 10 seconds change.

[2016-03-22 08:30] joey-jihua opened #77 "UNAUTHORIZED when visit via browser"
---------------------------------
docker_auth and registry were up successfully. but when i try to visit the registry by chrome, i get follwing error, is this work with registry version 2.3.1?

error info:
{"errors":[{"code":"UNAUTHORIZED","message":"authentication required","detail":[{"Type":"registry","Name":"catalog","Action":"*"}]}]}

-the container's log as following:

root@ubu89:/var/lib/doc

[2016-03-22 08:50] rojer commented on #77
and why exactly are you trying to use browser with it? what do you expect to happen?

[2016-03-22 08:56] joey-jihua commented on #77
@rojer   i want to see if the registry work or not.  i also try to push image and  docker login, all failed

root@ubu89:~# docker push registry.example.com:5000/hello-world
The push refers to a repository [registry.example.com:5000/hello-world]
unable to ping registry endpoint https://registry.example.com:5000/v0/
v2 ping attempt failed with error: Get https://registry.example.com:5000/v2/: tls: o

[2016-03-22 09:08] rojer commented on #77
i never tested with a browser, so i don't know if it's supposed to work or not.
docker login - yes.
try running the auth server with --v=2 and see what happens to the requests.

[2016-03-22 09:54] joey-jihua commented on #77
i have put this option when i start up the docker auth.
my docker version is 1.10.3  and the registry is 2.3.1

the docker docker auth container only output following informations:
-----------------------------------------------------------------------------------------------
root@ubu89:/var/lib/docker/containers/1ed27c7f0d22817a6a331b8e05fad447888988987ed07e2f873b534576d9ec10# cat 1ed27c7f0d22817

[2016-03-22 09:56] rojer commented on #77
ok, what happens when you try to "docker login" to registry?

[2016-03-22 09:57] joey-jihua commented on #77
root@ubu89:/var/lib/docker/containers/6bd8dd574b277249691f919aceaae117803a33da6922266c4180b391a52b783e# docker login registry.example.com:5000
Username: admin
Password:
Email: zhang.jihua5@zte.com.cn
Error response from daemon: invalid registry endpoint https://registry.example.com:5000/v0/: unable to ping registry endpoint https://registry.example.com:5000/v0/
v2 ping attempt failed with error: G

[2016-03-22 10:01] rojer commented on #77
i asked about the auth server log.

look, i don't have time for this hand holding. read the docs, get a clue, file an issue *only* if you have a code bug to report.

[2016-03-22 10:01] #77 closed

[2016-03-22 10:03] joey-jihua commented on #77
thanks a lot for your time!

[2016-03-22 15:19] gauravbhandare commented on #75
Thanks for merging....One last question....when can we have the new image pushed to docker hub.

[2016-03-22 15:26] rojer commented on #75
built and pushed to latest, will let it soak there for a few days before pushing to stable

[2016-03-22 15:26] #75 closed

[2016-03-23 19:33] #71 closed

[2016-03-24 02:20] rojer commented on #71
built and pushed to `:latest`

[2016-03-24 08:31] duyanghao opened #80 "How to get the binary file without Docker support"
I want to get the binary file,running directly in physical machine without Docker support.But there is nothing about that.urgently!!!

[2016-03-24 09:46] rojer commented on #80
download the docker container, extract docker_auth binary from it.

[2016-03-24 09:46] #80 closed

[2016-03-25 03:01] duyanghao commented on #80
Sorry,What I mean is to produce binary file from compiling source code.Is there detailed steps for that?

[2016-03-25 03:12] carsonoid commented on #80
You could just use the export
<https://docs.docker.com/engine/reference/commandline/export/>command:

docker create --name auth_server cesanta/docker_auth
docker export auth_server |tar -xv auth_server
docker rm auth_server

Tada!

On Thu, Mar 24, 2016 at 9:01 PM, fightingdu <notifications@github.com>
wrote:

[2016-03-25 20:17] dpetzel opened #82 "Version tagged releases"
We've been using the stable tag for a bit now without issue, but it feels like we are tempting fate a bit by not pinning to a static tag. Do you think it would be possible to apply some versioned (or some other unchanging) tag on Docker Hub?

For most images that do this we'd just push a known version into our own internal registry, but since this image is needed to actually build that system we r

[2016-03-25 21:05] rojer commented on #82
i agree, there should be proper releases. never thought it would get this far :)

[2016-03-26 15:53] carsonoid commented on #82
In the meantime you can always export the image to an archive then put it
on a Web server and use that as the source for stability. Versioned tags
are ideal but you do have options.
On Mar 25, 2016 2:17 PM, "dpetzel" <notifications@github.com> wrote:

[2016-03-29 01:33] JoeOrtiz opened #83 "X-Real-IP or X-Forwarded-For headers?"
Is it possible to add to listen for the above headers? Just in case if we place docker_auth behind an nginx proxy/ELB ?

[2016-03-29 08:44] rojer commented on #83
makes sense.
plan:
1) add server.real_ip_header, default - empty
2) if server.real_ip_header is set, retrieve it from the incoming request, remove spaces, split by commas, take the leftmost entry
3) try parsing as ipv4 first, then ipv6
4) if parsed ok, use as client ip, if not, reject request (do not use connection ip, which might be internal).

should be easy enough to do, but as always - no ETA.

[2016-03-29 10:02] duyanghao commented on #69
I have the similar problem:
I want to  query ACL and Auth from the MongoDB backend.

Here is the auth server configuration:

**server:
  addr: ":5001"
  certificate: "/root/docker_auth/domain.crt"
  key: "/root/docker_auth/domain.key"

token:
  issuer: "Acme auth server"  # Must match issuer in the Registry config.
  expiration: 900

mongo_auth:
  dial_info:
    addrs: ["localhost"]
    timeout: "

[2016-03-29 10:20] duyanghao commented on #69
If I run mongodb without auth,auth server can successfully run!
Here is my auth server configuration:
[code]

[2016-03-29 15:27] carsonoid commented on #69
You probably shouldn't be using the `admin` database for actual data. It
seems to be reserved for internal Mongo use and may have special
protections. Have you tried creating a dedicated db for docker_auth and
giving your admin user root access to it?

On Tue, Mar 29, 2016 at 4:20 AM, fightingdu <notifications@github.com>
wrote:

[2016-03-29 16:34] carsonoid opened #84 "RBAC support in acls"
I've been thinking a lot about acls and access control at scale. It seems to me that needing to support RBAC is inevitable. [gorbac](https://github.com/mikespook/gorbac) is available and could be used to load in roles from Mongo, static, and ldap sources. In my mind it would work the same way as ACLs do now where we refresh them on a regular basis and hold them in memory for validation.

Roles wou

[2016-03-30 01:30] duyanghao commented on #69
I have tried according to what you said above,but,the problem is that there is no "root" role in docker_auth db,I want to create the use "root" to have root access to docker_auth db,but the error happens as below:

[code]

Have you tried using the docker_auth db with user and password_file on the side of auth server?
Could you give me a detailed configurations about how to use MongoDB auth? urgent

[2016-03-30 08:03] duyanghao opened #85 "What is the exact protocol between docker engine and auth server?"
What is the exact protocol between the docker engine and auth server?Is the HTTP or HTTPS?
As  the .yml file describes below:
[code]
From the **realm: "https://127.0.0.1:5001/auth"** ,I know it is using HTTPS protocol!
But the question is that:
**Now that we are using HTTPS protocol,where is the certificate and key on the side of auth server,and where is root certificate on the side of docker engi

[2016-03-30 08:27] rojer commented on #85
registry does not actually talk directly to the server. it sends the user to a particular server to obtain a token, which the user then sends to the registry. registry will verify it using the specified root bundle.
https connections are between the user and the auth server.
for more details, read the protocol spec [here](https://github.com/docker/distribution/blob/master/docs/spec/auth/token.md)

[2016-03-30 08:27] #85 closed

[2016-03-30 08:32] rojer commented on #84
ok, please describe a couple cases that are not well served by the current system and how they would be better addressed by RBAC.
also, how it will fit into the current authn/authz model, or will it fully replace it?

[2016-03-30 08:35] duyanghao commented on #85
Yes,I do know that  https connections are between the user and the auth server.So my question is where is the certificate and key on the side of auth server,and where is root certificate on the side of docker client?
you may not get my point! @rojer

[2016-03-30 08:39] rojer commented on #85
cert and key on the auth server side are configured in, `server.certificate` and `server.key`. funny, i know. whoddathunk.

docker client uses system root ca store to verify.

[2016-03-30 09:33] duyanghao commented on #85
As you said above,if auth server uses a self signed certificate, and docker client uses system root ca to verify, the result on the side of docker will be refused!
But my test shows the actual result is successful! I can normally use the docker,auth server and Registry v2!

[2016-03-30 10:32] rojer commented on #85
i would hope that docker client does use cert verification when connecting, but have not actually tested it.
if you are working in an organization, it could also be that you have an org-wide CA installed on the workstations.
you can test SSL/TLS with e.g. `curl -v` or `openssl s_client` and check what cert is presented and if it is verified by your client.

[2016-03-30 13:11] duyanghao commented on #85
thanks @rojer , My test shows that the docker client verify only in some situation.
If i use HTTPS protocol between the docker client and Registry v2, then docker client will verify!
If i use HTTP protocol between the docker client and Registry v2,then docker client will not verify!

[2016-03-30 13:15] rojer commented on #85
there is nothing ti verify in the case of plain HTTP, so this is WAI.

[2016-03-30 13:34] duyanghao commented on #85
@rojer I mean use HTTP

[2016-03-30 13:54] rojer commented on #85
i'm not sure, but never mind.
i use https everywhere and everyone else should too.

[2016-03-30 14:20] duyanghao commented on #85
Anyway,thankyou! @rojer

[2016-03-30 14:20] duyanghao commented on #85
Anyway,thankyou! @rojer

[2016-03-30 15:56] ybshen opened #86 "When using mongodb authentication and authorization , why take some time to take effect？"
I set cache_ttl to a little value , still do not take effect

[2016-03-30 16:05] carsonoid commented on #69
I know that the auth_server works for sure with a dedicated db, user, and
password file because I use it every day in production.  However I used
compose.io to set up the mongo server and user so I can't tell you what the
commands are. Use the `dbAdmin` role when granting access to a specific db.
`root` seems way too powerful for this kind of access requirement and is
also only allowed for the `ad

[2016-03-30 16:05] carsonoid commented on #86
Can you post your config?

On Wed, Mar 30, 2016 at 9:56 AM, ybshen <notifications@github.com> wrote:

[2016-03-30 16:13] rojer commented on #86
also, run the server with `--v=2` - are there messages about refreshing cache?
you can post the log here, we'll take a look

[2016-03-30 16:29] carsonoid commented on #84
Mainly this happens to me when I have lots of teams that need specific
access to multiple projects. I work for a company with 700+ people and this
is quickly becoming an issue.  We follow the principle of least privilege
so I need to maintain highly specific access. At it's simplest I would like
to be able to add users to groups and then simply add group access to
individual repos. Group membershi

[2016-03-30 23:16] johnrengelman commented on #69
Also having the exact same auth problem.
I'm running Mongo 3.2 in a Docker container, I created a standalone DB and am using the `admin` user to connect.
I verified that I can connect with the credentials from a remote host using the mongo client.
So, it's definitely something in the codebase.

[2016-03-30 23:16] johnrengelman commented on #69
Also, I am not replicating.

[2016-03-30 23:31] carsonoid commented on #69
If that is indeed the case you need to post your auth server logs. Run it
with `-v 7 -logtostderr` and then post the results.

On Wed, Mar 30, 2016 at 5:16 PM, John Engelman <notifications@github.com>
wrote:

[2016-03-30 23:48] johnrengelman commented on #69
[code]

[2016-03-30 23:51] carsonoid commented on #69
Are you sure that your mongo user is a dbAdmin on the destination database?

On Wed, Mar 30, 2016 at 5:48 PM, John Engelman <notifications@github.com>
wrote:

[2016-03-30 23:55] johnrengelman commented on #69
yes.
Though I am looking at it this might be because the network isn't ready by the time the process starts. I'm running in a Docker cluster (Rancher) and linking in the mongo DB.
I'm testing now if putting a pause in the container startup has an effect. Will post back shortly.

[2016-03-31 00:05] carsonoid commented on #69
If that doesn't work can you post the results of `db.getUsers()` in the
auth database?

On Wed, Mar 30, 2016 at 5:55 PM, John Engelman <notifications@github.com>
wrote:

[2016-03-31 00:11] johnrengelman commented on #69
[code]

[2016-03-31 00:31] johnrengelman commented on #69
It's not network related. I launched the container in a shell mode, verified the connection, the tried to run the app and get the same error.

I've also tried downgrading to Mongo 3.0, same error.

[2016-03-31 00:36] carsonoid commented on #69
Can you log in as the auth user to that database and create the index
manually?

On Wed, Mar 30, 2016 at 6:31 PM, John Engelman <notifications@github.com>
wrote:

[2016-03-31 00:41] rojer commented on #84
ok, that makes sense. someone also asked for LDAP-based group auth, which makes sense, groups are a first-class citizen in ldap.

we could implement group authz as just another authz, right? so no major API changes.
my guess would be that that for your own use you'd like group storage to be in mongo.
now, the question is - should we implement group authz with swappable backends (mongo, ldap, perha

[2016-03-31 00:41] johnrengelman commented on #69
Not sure the exact command to run here, but:
[code]

[2016-03-31 00:46] carsonoid commented on #69
Can you share your auth_server.yaml so I can test against it?

On Wed, Mar 30, 2016 at 6:41 PM, John Engelman <notifications@github.com>
wrote:

[2016-03-31 00:47] johnrengelman commented on #69
[code]

[2016-03-31 00:47] johnrengelman commented on #69
Note, i'm using `password` instead of `password_file`, but I tried that too with the same outcome.

[2016-03-31 01:12] carsonoid commented on #69
I finally got it! Our sample configs have a bad name.  You need to use "username" instead of "user" under the mongo sections of the config. So the server isn't actually authenticating at all, its just using the default user.  That's on us. I'll submit a PR with the fix tomorrow.

For future reference that everything under the dial_info section slurps all config options as defined at https://godoc.

[2016-03-31 01:46] duyanghao commented on #69
thandyou! @carsonoid  , my problem has been solved!

[2016-03-31 03:54] ybshen commented on #86
The following is my config:
when  i add this acl into mongodb,then i push a image into test/mariadb repository,but first push is failed,the prompt is unauthorized: authentication required.A moment later，i push the image successfully.
1、Is not because there is no synchronization to complete the authorization information?
2、What should I do when I add a acl record to take effect immediately?
3、I wan

[2016-03-31 04:19] johnrengelman commented on #69
@carsonoid fixed mine too! I should have seen that!.

[2016-03-31 15:47] carsonoid commented on #69
@rojer Looks like you can close this.

[2016-03-31 15:52] rojer commented on #69
thank you!

[2016-03-31 15:52] #69 closed

[2016-04-01 01:14] duyanghao commented on #69
I have an additional question.I want to use docker auth as the token-based authentication and authorization server in my company,so I want to know the performance and stability of docker auth and how many companies are using it at present,Could you please give me a detailed description about the  above questions? Looking forward to your reply！ @carsonoid @rojer

[2016-04-01 01:49] carsonoid commented on #69
@rojer can probably speak more to it's DL stats from docker hub and about it's adoption. But I can say for sure that it's very stable. I use it every day in production with lots of users and ACLs and it's performed beautifully.

I'll admit that Portus boasts a few more features and a GUI. However the mongo support in docker_auth has been a big deal for me. I actually run multiple docker_auths and

[2016-04-01 01:51] rojer commented on #69
i should note that docker_auth is not our company's main product and not something i spend a lot of my time on. hardly any, really. it's something i wrote almost off-the cuff, just because the traditional nginx + auth v1 setup seemed weird and awkward and no other solutions were available at the time (portus either did not exist or i didn't find it). we're not competing with portus, i haven't even

[2016-04-01 02:38] duyanghao commented on #69
Thank you for your reply! @carsonoid @rojer ,

[2016-04-01 07:47] rojer commented on #69
docker_auth is about auth and auth only, it doesn't provide any indexing or search capabilities.

[2016-04-01 08:00] ybshen commented on #86
i set cache_ttl to 1s,acl refresh logs is printed.but when i push a image to authorized's repository,"authentication required" is still appear.after I repushed some times, it is successfully

[2016-04-01 08:50] ybshen commented on #86
I found when i push a image to one repository,a pull another repository image lary had been execed

[2016-04-01 08:56] rojer commented on #86
this makes zero sense to me. post a log at v=2. please.

[2016-04-01 09:00] ybshen commented on #86
1:43180 [{repository test2/php [pull push]} {repository ubuntu/tomcat [pull]}]}
I0401 08:59:58.299993       1 mongo_auth.go:90] Checking user test2 against Mong
o Users. DB: docker_auth, collection:users
I0401 08:59:58.428349       1 server.go:168] Authn MongoDB test2 -> true, %!s(<n
il>)
I0401 08:59:58.428721       1 acl.go:97] {test2 pull,push repository test2/php}
matched {"Match":{"account":"/

[2016-04-01 09:01] ybshen commented on #86
Above is my log when i exec that  docker push myregistry.com:5000/test2/php

[2016-04-01 09:04] rojer commented on #86
ok, now explain what you think is problematic here (please post as an attachment or enclose in triple backticks for better readability). what should be allowed and wasn't?

[2016-04-01 09:22] duyanghao commented on #69
Ok,I can only achieve that all by myself!

[2016-04-01 09:25] ybshen commented on #86
I'm sorroy.I upload attachments to meet some problems.
The currently logged in user is test2.
the acl is:
{"seq": 50, "match" : {"account" : "/.+/", "name" : "${account}/*"}, "actions" :
 ["*"], "comment" : "All logged in users can push all images that are in a names
pace beginning with their name"}
when i pushed a image to the test2/php,"test2 pull repository zstest/php" and "test2 pull repositor

[2016-04-01 13:01] ybshen commented on #86
I solved it.thanks

[2016-04-01 13:01] #86 closed

[2016-04-01 13:28] rojer commented on #86
great, thanks

[2016-04-04 13:53] mcallaway opened #88 "LDAP nil pointer dereference"
Does ldaps work?

I get the following using port 636 or 389 with tls true or false.

    ldap_auth:
      addr: "ipa1.my.domain.com:636"
      tls: false
      bind_dn: uid=proxyuser,cn=users,cn=accounts,dc=gsc,dc=wustl,dc=edu
      bind_password_file: /config/binddn_password
      base: "cn=users,cn=accounts,dc=gsc,dc=wustl,dc=edu"
      filter: "(&(uid=${account})(objectClass=posixAccount))"

[2016-04-04 13:54] mcallaway commented on #88
Duplicate of #73 sorry.

[2016-04-04 13:54] mcallaway commented on #73
I got this too.

[2016-04-04 15:01] mcallaway commented on #73
Not sure if this helps you, but I got my setup working. Things I discovered:

In the docker registry config.yml, the rootcertbundle is not the CA cert, but the server crt used by the auth service.

    rootcertbundle: "/etc/docker/registry/server.crt

The following configurations of the auth service failed:

    addr: "ldap://ipa1.my.domain.com/cn=users,cn=accounts,dc=gsc,dc=wustl,dc=edu?uid?sub?(

[2016-04-04 20:32] carsonoid commented on #73
closed by #89

[2016-04-05 03:09] redhatlinux10 opened #90 "how can i generate .pem / .key file for server -> certificate and server -> key in config.yml ?"
my question:
1, in `reference.yml` file, the certficate file has extension `.pem`, can this be a `.crt` file ?
2, i has read some in wikipedia and knows there can be public key / private key / certificate in a `.pem` file ，what does the `.pem` file mentioned in `reference.yml` contain ?
3, can you give commands based on openssl to create `.pem` / `.key` file for `reference.yml` ?
plz help.
in am u

[2016-04-05 09:01] rojer commented on #90
the extension does not matter. server.pem file should contain certificate in PEM format (base64-encoded DER with BEGIN CERTIFICATE / END CERTIFICATE markers), server.key should contain the corresponding private key, also in PEM format.
there are numerous tutorial on the internet on how to generate certificate and key using openssl, use one of those.

[2016-04-05 09:01] #90 closed

[2016-04-05 09:33] lakwarus commented on #73
Its works for me :) . Thanks!

[2016-04-05 20:24] mcallaway commented on #88
See #73 and #89

[2016-04-05 20:24] #88 closed

[2016-04-07 20:33] spsiddarthan opened #92 "Is there an example on how to use the docker_auth server to get a token?"
I had docker_auth set up on my instance but when I hit the server to get a token (to subsequently make requests to the v2 end point of my registry) I got an auth failed error.

Perhaps I'm doing something obviously stupid. Would really appreciate it if someone could provide me with an example.

[2016-04-07 21:46] carsonoid commented on #92
You don't usually hit the auth_server directly.  You should configure your
registry to forward clients to the auth server.

Ex:
[code]

Then you use `docker login` to log in to the registry and all push/pulls
with authenticated against the server defined in `realm`.  Note also that
the `issuer` field in the registry much match that in the docker_auth's
config.

On Thu, Apr 7, 2016 at 2:33 PM, Sidd

[2016-04-07 21:50] carsonoid commented on #92
You don't usually hit the auth_server directly.  You should configure your
registry to forward clients to the auth server.

Ex:
[code]

Then you use `docker login` to log in to the registry and all push/pulls
with authenticated against the server defined in `realm`.  Note also that
the `issuer` field in the registry much match that in the docker_auth's
config.

There is a fairly good article descr

[2016-04-08 06:03] spsiddarthan commented on #92
Thank you, I read the same article before raising this question. I'm currently trying out https://github.com/kwk/docker-registry-setup which seems to be inspired by the same blog.

[2016-04-08 06:03] #92 closed

[2016-04-08 10:10] #83 closed

[2016-05-02 12:50] nagarjung commented on #73
Hi @rojer
cc @lakwarus

I tried using this docker image to setup private registry with authentication enabled using LDAP.
I passed my cert and key to to docker run command that was mentioned in README file.

docker run  --rm -it --name docker_auth -p 5001:5001     -v /home/ubuntu/docker_auth/config:/config:ro     -v /var/log/docker_auth:/logs     cesanta/docker_auth:stable --v=2 --alsologtostderr

[2016-05-02 14:26] rivaros opened #94 "IP based ACL - always returns IP of the registry"
Experimented a little with IP-based ACLs and   `real_ip_header: "X-Real-IP"` parameter from config file. Seems like IP in my case is always the IP of the docker registry, since it is registry who is quering for ACL. Cient IP is not passed. My registry & cesanta/docker_auth are running inside containers and are behind nginx proxy.

Does this make sense or I am missing some point ?

[2016-05-02 15:35] rivaros opened #95 "Some uthorization errors"
Though push/pull works fine, I am still getting the following errors in docker registry log:

[code]

Looks like it tries to reach the '/v2/' location and fails. Here are my ACLs:

[code]

[2016-05-06 10:57] jay1xiong opened #96 "ldap authentication failed if password is not crypt"
ldap authentication failed if the password is not crypt. clear and ssha are both failing ldap authentication. My docker-auth configuration is as follows:

curl -H "Authorization: Basic $(echo "mozart:password" | base64)" -vk "https://127.0.0.1:5001/auth?service=Docker%20registry&scope=registry:catalog:*"

is causing the authentication issue. Directly login form docker login works fine.

[code]

Su

[2016-05-06 11:01] jay1xiong commented on #96
[code]

[2016-05-06 15:44] #96 closed

[2016-05-08 07:14] rojer commented on #95
access to `/v2/` does not even reach auth server.
some clients (i know python client does it) use /v2/ to "ping" the registry to check whether it's v1 or v2.
i think these errors are normal.

[2016-05-08 07:14] #95 closed

[2016-05-08 15:03] rojer commented on #94
actually, it's the client that queries for token which it then brings back to the registry.
so you _should_ see client's IP in requests to the auth server.
can you run with `--v=3` and show me the logs?
in particular, this line should log connection ip and ip obtained from the header: https://github.com/cesanta/docker_auth/blob/master/auth_server/server/server.go#L133

[2016-05-26 17:54] gauravbhandare opened #97 "LDAP incorrect password returns 500 error"
I have been using docker_auth for securing Docker Registry and is working fine with LDAP integration. One thing that I observe is when the user provides invalid credentials the check fails as expected but returns 500 Internal Server Error which seems like an unhandled exception. The docker client cannot interpret this as unauthorized and gives user an impression that something is wrong with the sy

[2016-05-26 17:55] gauravbhandare commented on #82
Any update on versioned tags? As recommended we are using an archive but having a versioned tag in Docker hub will help better track versions and upgrades.

[2016-05-26 19:16] rojer commented on #97
i wonder why that is. can you run it with `-v 2` and paste the log here?

[2016-05-26 19:17] rojer commented on #82
next release, whenever that is, will be tagged.

[2016-05-27 16:08] gauravbhandare commented on #97
**docker_auth logs** (info masked)
{"log":"I0527 12:01:50.608788       1 server.go:312] Auth request: {user:***@nn.nn.n.n:59040 []}\n","stream":"stderr","time":"2016-05-27T16:01:50.60926941Z"}
{"log":"I0527 12:01:50.608836       1 server.go:168] Authn static user -\u003e false, did not match any rule\n","stream":"stderr","time":"2016-05-27T16:01:50.609302316Z"}
{"log":"I0527 12:01:50.608844

[2016-05-28 18:04] rivaros opened #98 "error: Error talking to Google auth backend: Post https://www.googleapis.com/oauth2/v3/token: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)"
Getting this error for about 2 weeks already, when pressing "sign in with google" . Is it possible that google changed something in the API?

[2016-05-28 18:13] rojer commented on #98
just performed a sign-in on my instance and it worked. this looks like docker_auth daemon cannot talk to google API - perhaps, blocked by firewall?

[2016-05-28 19:42] rivaros commented on #98
Digging deeper into the problem (not frewall):

https://accounts.google.com/o/oauth2/iframerpc?action=issueToken&response_type=token%20id_token&scope=openid%20profile%20email&client_id=655014632460-9qtelkeq72nh7pedhegei8lbdr73g35g.apps.googleusercontent.com&login_hint=AJDLj6IIYgtz12RnkrjH6u767COYKBTFCJGTphDJrVVD_gmWAjAUutilEkR-tKSPMxJOUd9BRbcy9mU2MgZLQqNA7u7IsFx_SOm8fqrZnHjOf26yY_P2r6A&ss_domain=h

[2016-05-29 10:43] rivaros commented on #98
Thanks for the hint.

Actually the problem was with --iptables=false setting in docker config. We needed to disable access from outside to ports 5000 (registry) and 5001(docker_auth), since docker mangled with iptables itself.
http://blog.viktorpetersson.com/post/101707677489/the-dangers-of-ufw-docker

Finally the solution was adding a simple rule
[code]
and making it persistent.

[2016-05-30 09:48] rojer commented on #98
ok, good to know.

[2016-05-30 09:48] #98 closed

[2016-05-30 11:33] gauravbhandare commented on #97
Any luck?

[2016-06-01 11:13] Bart187 opened #99 "Failed to load config during startup private registry server with LDAP auth"
Hi All,

I have issue on RHEL7 with the image or configuration. When I'm trying to run the

    docker run --rm -it --name docker_auth -p 5001:5001 -v /data/docker_registry/docker/docker_auth-master:/config:ro -v /var/log/docker_auth:/logs cesanta/docker_auth:stable /data/docker_registry/docker/docker_auth-master/docker-compose.yml

I'm getting this error:

    F0601 10:42:30.862161       1 main.g

[2016-06-01 22:15] cornelf opened #100 "Atlassian Crowd authenticator"
Authentication through a Generic Crowd application on a Crowd Server would be really cool to have.
I kindly challenge
- @3rf based on https://github.com/evergreen-ci/crowd
- @jda based on https://github.com/jda/go-crowd

  to give it a go 😏

[2016-06-06 05:22] carsonoid commented on #99
So there are a few issues here:

1. You should name your docker_auth config file something like `auth_config.yml` instead of `docker-compose.yml`. [docker-compose](https://docs.docker.com/compose/) is something completely separate from this project.
1. As per the [docs](https://docs.docker.com/engine/reference/run/#volume-shared-filesystems): the second portion of a volume mount option will dictat

[2016-06-06 05:24] carsonoid commented on #99
I'm also guessing that there are other errors in your config. Can you please paste it with code formatting so that it can be more easily reviewed?

[2016-06-06 19:15] jay1xiong opened #101 "Allow terminate TLS on ngnix or apache and proxy to docker_auth"
It is desirable to terminate TLS on nginx or apache server rather terminate TLS on docker_auth directly. This deployment is similar to TLS termination for docker-registry using ngnix or apache front end.

[2016-06-06 19:21] jay1xiong opened #102 "Use separate private key/certificate pair for TLS and JWT token"
The current implementation combines the usage of private key/certificate for TLS and JWT token. For improved security, they should not share the same private key/certificate. The private key/certificate for TLS generally generated from trusted CA.

[2016-06-06 19:40] rojer commented on #102
it is possible to specify a different issue certificate for tokens by specifying `token.certificate` and `token.key`, as documented [here](https://github.com/cesanta/docker_auth/blob/master/examples/reference.yml#L26).

[2016-06-06 19:40] #102 closed

[2016-06-06 20:04] jay1xiong commented on #102
Can you add the same comment to ldap_auth.yml as well? I was only looking at the file since I only need to support ldap authentication.

[2016-06-06 20:16] jay1xiong opened #103 "Support Azure Active Directory Authentication"
Azure Active Directory Authentication can use OpenID connect as authentication method.

[2016-06-06 20:18] rojer commented on #102
done

[2016-06-06 20:22] rojer commented on #101
in this case generating a cert/key pair for use between proxy and the auth server should suffice.
as mentioned in #102, it doesn't have to be the same as the one used for signing tokens.
is there a reason why this won't work?

[2016-06-06 20:22] rojer commented on #103
looks like dup of #47

[2016-06-06 20:22] #103 closed

[2016-06-06 20:47] jay1xiong commented on #101
It should work. But it does not make a lot of sense to do another TLS internally between proxy and auth server. You have to generate another private key/certificate pair without much benefit as the communication is internal.

[2016-06-06 21:51] rojer commented on #101
initially SSL/TLS was mandatory for http server, but since e946750e82b253a56c46a676b20ae8ca268d9b53 it no longer is, so you should be able to run the server without `server.certificate` and `server.key`.

[2016-06-06 21:51] #101 closed

[2016-06-06 21:52] rojer commented on #94
i believe this to be invalid. please reopen if you have further evidence of incorrect IP being associated with a request.

[2016-06-06 21:52] #94 closed

[2016-06-06 22:07] rojer commented on #97
i think #104 should do it.
built and pushed cesanta/docker_auth:test97, please try and let me know if it works as expected.

[2016-06-06 23:36] jay1xiong commented on #101
Thanks for the pointer. I am using docker_auth container. Neither docker_auth.stable nor docker_auth.latest work without certificate/key configuration. They are both marked as CREATED 10 weeks ago. Do I need to build my own?

[2016-06-07 01:29] carsonoid commented on #101
You probably just need to explicitly pull them again. `docker pull
cesanta/docker_auth:latest` Since the tag hasn't change you need to force
docker to pull the latest image.

On Mon, Jun 6, 2016 at 5:36 PM, jay1xiong <notifications@github.com> wrote:

[2016-06-07 10:49] rojer commented on #101
remember also that you must set `token.certificate` and key in this case.
i just tried and it works as expected. you should see
[code]
in the log.

[2016-06-07 16:47] jay1xiong commented on #101
It all works! :-)

Thanks

[2016-06-08 12:09] Bart187 commented on #99
Hi,

I have checked the conf file and it seems that there is still something wrong.

I have started the registry:

`docker run -d -p 5000:5000 --restart=always --name Docker_registry -v /data/docker_registry:/var/lib/registry -v /etc/docker/certs.d:/etc/docker/certs.d -e REGISTRY_HTTP_TLS_CERTIFICATE=/etc/docker/certs.d/docker.crt  -e REGISTRY_HTTP_TLS_KEY=/etc/docker/certs.d/docker.key registry:2

[2016-06-08 14:50] rojer commented on #99
you need to indent the line below `ldap_auth:` (line 8). make `addr:` line up with `tls:`.

[2016-06-09 12:29] Bart187 commented on #99
In original file addr: line is in the same place as tls. On the above formatting it seems to be in the same place as acl or ldap_auth.

seems that is not an issue here...

[2016-06-09 12:45] rojer commented on #99
there's trailing "SSL" on line 8, outside quotes.

[2016-06-09 12:54] Bart187 commented on #99
I've got running configuration with that on reverse proxy configuration, but I changed it just to check:

[code]

But I got the same:

[code]

[2016-06-09 12:57] rojer commented on #99
look, _something_ is not valid YAML here, liekly on/around line 8. sorry, i don't see it, but parser says so. google is your friend, figure it out.

[2016-06-17 07:42] rojer commented on #97
fixed by #104

[2016-06-17 07:42] #97 closed

[2016-06-17 07:44] #99 closed

[2016-06-27 01:25] houht opened #107 "How to compile the latest program?What is the content of dockerfile?"
I want to use ext_auth，thanks

[2016-06-27 07:43] rojer commented on #107
ideally you should be able to just step into the auth_server directory and run `make` on any linux system that has Go and docker installed.
for now, i built and pushed :latest

[2016-06-27 07:43] #107 closed

[2016-06-27 08:02] houht commented on #107
I do not have the golang environment, thank you very much!

[2016-06-29 08:12] houht opened #108 "using ext_auth authentication error"
When using ext_auth authentication, When my command contains：

http.Get("http://10.0.2.47:9999?username="+username+"&passwd="+passwd)

Return error：
fork/exec mycmd: no such file or directory

[2016-06-29 09:17] #108 closed

[2016-06-29 09:18] houht commented on #108
Because the linux  so package problem

[2016-06-30 02:27] KaleoCheng opened #109 "How to use mongo auth"
Hi，If this is a  stupid question, forgive me.
Could you add something about how to use mongo auth in the README? The following is my acl:

[code]
It doesn't seem to work. Is not correct?

[2016-06-30 02:45] houht commented on #109
You can refer to  master/docs/Backend_MongoDB.md.
My tests are as follows,mongo port should be accessed：

conf:
mongo_auth:
  dial_info:
    addrs: ["10.0.2.47:27017"]
    timeout: "10s"
    database: "docker_auth"
    user: ""
    password_file: ""
  collection: "users"

mongo:
1 use docker_auth
2 db.createCollection("users")
3 db.users.save({username:'admin',password:'$2y$05$LO.vzwpWC5LZGqThvEfz

[2016-06-30 02:52] KaleoCheng commented on #109
@houht Oh,Thanks~

[2016-06-30 02:52] #109 closed

[2016-07-01 11:33] rojer commented on #82
https://github.com/cesanta/docker_auth/releases/tag/1.0

[2016-07-01 11:33] #82 closed

[2016-07-04 09:00] KaleoCheng commented on #95
So how could I get the catalog using curl? @rojer

[2016-07-06 08:18] houht commented on #95
You can refer to the following link:

https://github.com/lauraglasu/registry-api-calls
http://www.cakesolutions.net/teamblogs/docker-registry-api-calls-as-an-authenticated-user

1 curl -LI http://10.0.2.47:5000/v2/_catalog
2 curl -ivk -s -u admin:badmin -d "service=Docker registry" -d "scope=registry:catalog:*" -d "account=admin" https://10.0.2.47:5001/auth
3 curl -H "Authorization: Bearer $token"

[2016-07-06 08:51] KaleoCheng commented on #95
So thanks.  It  works  now. @houht

[2016-07-10 10:36] SydOps opened #111 "docker run with ldap is successful, what's the next step?"
I have run the command with ldap setting, should be correct.

The docker container is running with port 5001 open.

[code]

What's the next step? How can I link it to docker registry v2? Any instructions?

[code]

[2016-07-10 10:46] SydOps commented on #111
Got the help from https://github.com/kwk/docker-registry-setup

That's nice to get explained with a useful [docker-compose.yml](https://github.com/kwk/docker-registry-setup/blob/master/docker-compose.yml) file

[2016-07-10 10:46] #111 closed

[2016-07-10 11:09] SydOps commented on #111
Here is the setting I need follow.

https://github.com/kwk/docker-registry-setup/blob/master/registry/conf/config.yml#L22

[2016-07-11 01:46] houht commented on #111
https://github.com/docker/distribution/blob/master/docs/spec/auth/token.md

[2016-07-20 02:29] duyanghao opened #116 "how to use http protocol between docker and docker_auth?"
I want to use nginx as Load balancing of auth_server, and i want to use http protocol between nginx and auth_server,
i change the configuration on the side of registry v2 below:
[code]
i use `http://127.0.0.1:5001/auth` instead of `https://127.0.0.1:5001/auth`,but the error appears on the side of auth_server below:
`tls: first record does not look like a TLS handshake`

[2016-07-20 02:32] rojer commented on #116
you need to disable TLS on the auth server side to. remove server.certificate and server.key and move them to token.certificate and token.key

[2016-07-20 02:32] #116 closed

[2016-07-20 02:49] duyanghao commented on #116
you means,the configuration on the side of auth_server like below:

[code]
Is that right?

[2016-07-20 03:01] rojer commented on #116
yes

[2016-07-21 02:09] duyanghao commented on #116
another question:
[code]
Is the expiration refers to expires_in in Registry token document?
https://github.com/docker/distribution/blob/master/docs/spec/auth/token.md

[code]

[2016-07-21 06:20] rojer commented on #116
yes, correct

[2016-07-21 11:34] raphink opened #117 "Teams ACLs"
As mentioned in https://github.com/cesanta/docker_auth/pull/115#issuecomment-234074177, once #115  is merged, it would be great to be able to use teams in the ACLS, something along the lines of:

[code]

where team would be matched against something like `regexp.QuoteMeta(strings.Join(ai.Teams))`.

As you mentioned in #115, it would be good if this was not specific to GitHub. Here's a suggestion.

[2016-07-22 00:30] SydOps opened #122 "docker_auth with load balancer"
I currently work on the docker_auth to backend of openldap with load balancer, not sure if anyone did that before.

The process will be:

docker daemon (:443) --> ELB-1 (:5000)--> docker-registry(:5001)--> ELB -2 (:5001)--> docker_auth (:389) --> ELB-3 (:389) --> openldap

Currently ELB-1 has offload SSL certificate attached

I plan to install docker_auth certificate on ELB-2 to get the traffic of

[2016-07-22 05:51] rojer commented on #122
if you don't specify `server.certificate` and `server.key`, listener will be opened without TLS.
in that case, you have to provide `token.certificate` and `token.key` to use for issuing tokens.

[2016-07-22 05:56] #122 closed

[2016-07-26 14:14] pandada8 commented on #45
any update ?

[2016-08-01 02:29] pandada8 commented on #45
Hey, I have a patch in #124 implement the capture group replacement. Can @rojer merge that ?

[2016-08-01 19:48] naru014 opened #125 "Failed to load config: could not parse config: yaml: control characters are not allowed with new version of Auth Server"
I was using the auth server stable version, but there was an issue for handling errors for ldaps which got fixed in the recent auth server release.
So I got the new image from docker hub and tried running it with my older working auth_config.yml.
But it is erroring out with
Failed to load config: could not parse config: yaml: control characters are not allowed
I tried running it with --v=2 for mor

[2016-08-01 22:09] JoeOrtiz opened #126 "Feature request: Redis backend for Google DB ?"
Instead of having a file based store for the google auth token, I believe it would be best to keep it as a redis backend, that way it can be distributed. This way we can launch multiple docker_auth's for redundancy.

[2016-08-01 22:33] rojer commented on #125
github butchered formatting of the file. can you upload it as an attachment?

[2016-08-01 22:37] rojer commented on #126
makes sense. we have a [TokenDB interface](https://github.com/cesanta/docker_auth/blob/master/auth_server/authn/tokendb.go#L38) now, so it should be easy enough to implement.
i don't have experience with Redis or time to implement it though, so all i can say is - PRs welcome :)

[2016-08-02 13:41] naru014 commented on #125
Attaching the yaml file
[auth_config.zip](https://github.com/cesanta/docker_auth/files/397108/auth_config.zip)

[2016-08-02 21:03] SydOps commented on #63
+1 Need this same feature as well.

@summerQLin

[2016-08-03 15:40] mv012004 commented on #125
@rojer - Any update on this ? have you seen this, we ran into the same thing..!!

[2016-08-03 17:16] rojer commented on #125
no, never. and the file looks normal to me at first glance. i'll take a look later.

[2016-08-03 21:55] rojer commented on #125
i can't reproduce the issue - the exact file i extracted from zip attached to this issue is parsed just fine:
[code]

it complains about being unable to open cert file, but this is already after the file has been parsed.

[2016-08-03 22:20] SydOps commented on #122
Finally work it out, and prove it works in real environment.

[code]

[2016-08-03 22:24] SydOps commented on #122
@rojer

Since there is no persistent data in docker_auth server, I think it should be fine to auto-scaling it if required.

 Right?

[2016-08-03 22:27] rojer commented on #122
yes, without token database (used for google or github auth) server is stateless and can be auto-scaled.

[2016-08-04 07:03] #45 closed

[2016-08-04 14:44] naru014 commented on #125
@rojer I pull the cesanta/docker_auth:stable from docker hub  and on my already existing node, stopped the older version of auth container running and then ran this container with the older config File and ran into this.  the older config file with the previous version works fine. So wondering what is it missing that is causing this.
Please correct me if my understanding is wrong, I can run the st

[2016-08-04 16:41] rojer commented on #125
sorry, no idea. please verify your setup, because the config you sent parses just fine with current `:stable`:

[code]

[2016-08-08 06:03] SydOps opened #127 "auto testing for docker_auth container"
Currently I am working on kitchen test for the container "docker_auth" I deployed. After I successfully run the container, I have the url works:

https://docker_auth.example.com:5001/auth

If directly access, I got `Auth failed`, which is correct.

Now I'd like to test with a local account (test/123) I deployed with  `auth_config.yml`, what url I can make to test and prove it work with this accoun

[2016-08-08 07:35] SydOps commented on #127
Collect what I found:

https://docs.docker.com/registry/spec/auth/oauth/

[2016-08-09 04:08] SydOps commented on #127
This explains how to test the auth server.

https://github.com/kwk/docker-registry-setup#test-the-auth-server

[2016-08-09 04:08] #127 closed

[2016-08-10 10:03] gbougeard commented on #77
Hi @rojer , I'm also trying to access the registry REST API through the browser or curl and also get 401 errors :

[code]

I allowed `pull` for anonymous users and `push` to one and only one user.
I'd like to access the registry REST API (at least GET routes) without authentication. Are there other grants than `pull` `push` and `*` to achieve that?

[2016-08-10 19:09] #125 closed

[2016-08-13 12:55] ashishjain14 opened #128 "Error response from daemon "crypto/rsa: verification error" while accessing registry using auth and tls"
Steps to reproduce the issue:
1. Set up a secure docker registry with auth & tls
2. Set up cessanta docker auth server
3. Do Not set --insecure-registry option in DOCKER_OPTS
4. docker push or pull fails with the following error
Error response from daemon: Get https://xxxxxxxxxxxx:5000/v2/: Get https://xxxxxxxxxxx:5001/auth?account=admin&client_id=docker&offline_token=true&service=Docker+registry:

[2016-08-14 12:39] ashishjain14 opened #129 "auth-server with docker-notary fails with error HTTP 400 response body: invalid character 'B'"
I have been able to successfully use auth-server with docker registry. Trying to use the same with docker notary and I am seeing following error

RRO[0000] Could not publish Repository since we could not update: error parsing HTTP 400 response body: invalid character 'B' looking for beginning of value: "Bad request: invalid scope: \"repository:xxxxxxxxxxxx:5000/golang:push,pull\"\n"
Failed to sign

[2016-08-14 13:21] ashishjain14 commented on #128
Further debugging suggests there is trust deficit between auth-server and docker client. I see the following error in docker-auth server

I0814 13:16:26.354676       1 server.go:2161] http: TLS handshake error from xxxxxxxxxxxxx:58132: remote error: bad certificate
I0814 13:16:31.358064       1 server.go:2161] http: TLS handshake error from xxxxxxxxxxxxx:58133: remote error: bad certificate

I use

[2016-08-14 13:58] ashishjain14 opened #130 "How to use docker_auth server with plain http instead of https"
The link https://github.com/cesanta/docker_auth/blob/master/examples/reference.yml#L15 here says that if you do not specify certificate and key it will open a plain http listener. But once I remove these 2 variables or else keep them blank, I see docker_auth server complaining about missing certificate and key. Is this a bug? Moreover how I can start the auth server with plain http?

[2016-08-14 17:14] rojer commented on #130
in that same line it also says: "In that case token.certificate and key must be provided."

[2016-08-14 17:14] #130 closed

[2016-08-14 17:18] rojer commented on #129
wait, this doesn't make sense to me.
where are these logs from?

[2016-08-14 17:19] rojer commented on #128
i can't help you with cert trust issues. use `openssl s_client` to debug or something.
sorry, this is just out of scope of auth_server and i'm not paid to provide generic support.

[2016-08-14 17:19] #128 closed

[2016-08-14 18:07] ashishjain14 commented on #129
This I suppose is coming from https://github.com/cesanta/docker_auth/blob/f78c304094a6679b524251d4d587bc3a24fcb4d9/auth_server/server/server.go#L172

[2016-08-14 18:09] ashishjain14 commented on #130
thank you it helped, the issue is resolved.

[2016-08-14 18:13] ashishjain14 commented on #128
Currently I have a workaround here by using a plain http docker auth_server but there is definitely an issue which looks like is at the docker end. with openssl s_client I am able to establish connection with auth server so this definitely seems to be a docker issue.

[2016-08-14 18:18] ashishjain14 commented on #129
One more point to add here I run the following command
docker push xxxxxxxxxx:5000/golang:test
so there is a tag "test" also at the end

But above in the error message I see golang:push,pull

[2016-08-15 22:47] sergeyfd opened #131 "Add support for include directive in configuration file."
Hello,

Would it be possible to add support for include in configuration file? Let's say I want to split general configuration server, acl, etc.. and user configuration into separate files.

[2016-08-16 04:55] ashishjain14 commented on #129
Comment from docker team
https://github.com/docker/notary/issues/916#issuecomment-239861223

[2016-08-16 10:24] rojer commented on #129
thank you! this should be easy to fix, please try `:latest`.

[2016-08-16 15:26] ashishjain14 commented on #129
I still have the same issue, with latest

[2016-08-16 16:43] rojer commented on #129
strange, works for me. please make sure you re-pulled `:latest` and if it still doesn't work, please post full auth_server log at `--v=2`.

[2016-08-16 16:46] ashishjain14 commented on #129
Not sure if I understood you correctly, do you mean I should run
docker push xxxxxxxxxx:5000/golang:latest

[2016-08-16 16:59] ashishjain14 commented on #129
I just pulled latest docker_auth image and looks like it worked. I will run few more tests over few days and provide more updates on this issue. Thanks a lot for your prompt response.

[2016-08-16 17:07] rojer commented on #129
i meant pull `docker_auth:latest` with the fix. looks like you did it and it works, ok.

[2016-08-16 17:08] ashishjain14 commented on #129
The previous one which worked was when I used a http connection. Now switching http connection to https is making it fail again which I have pointed out earlier at you. Just wanted to check with you that was your docker_auth server listening on http or https.

[2016-08-16 17:11] rojer commented on #129
http/https is probably the trust issue you described, which cannot possibly be related to this.

[2016-08-16 17:14] ashishjain14 commented on #129
agreed your fix works and this is unrelated to current issue. Just checking if you guys have been able to make https work with docker. Have raised an issue with docker here https://github.com/docker/docker/issues/25682

[2016-08-16 17:16] rojer commented on #131
interesting idea. we'd need to introduce some sort of preprocessing.
as usual - no firm commitments, PRs welcome.

[2016-08-16 17:18] rojer commented on #129
yes, for example `docker.cesanta.com` uses SSL

[2016-08-16 17:26] ashishjain14 commented on #129
okay thanks for this information, appreciate your help and prompt reply

[2016-08-21 12:21] SantoDE commented on #130
I fail to create that correctly. Why do I need to set token.certificate and key, if it's really all about plain HTTP? I have a loadbalancer sitting in front of the auth server which does all the SSL termination for me. How do I need to set that both settings in order to really have plain http up? Mayve @rojer or @ashishjain14 ?

[2016-08-21 15:22] rojer commented on #130
@SantoDE a cert is required wither way, because token must be signed by a key/cert that registry trusts (to which a chain of trust can be built from one of the certs in auth.token.rootcertbundle). normally it's the same cert that is used for https, but if you use plain http and do not specify cert/key for it, `token.certificate` and `key` MUST be set. i don't know why it's so difficult to understa

[2016-08-21 15:26] SantoDE commented on #130
Ah, so this is required by the protocol. Okay. Then i need to find a way how to use this behind my load Balancer which fetches it's certs by letsencrypt :/

[2016-08-21 15:28] rojer commented on #130
this is strictly between registry and auth server, you can use a single self-signed cert here.
put it in auth server's token.cert/key and registry's auth.token.rootcertbundle

[2016-08-21 15:33] SantoDE commented on #130
Ah cool! Thanks a lot then. Thats easy :)

[2016-08-26 15:46] #129 closed

[2016-08-31 14:18] onlyellow opened #134 "A Question about Code"
The func NewMongoAuth (in the mongo_auth.go), it use the copy of session: tmp_session like below:

`   // Copy our session

[code]

Is it benefit for using copy? Why not use origin session directly?

Thanks

[2016-08-31 15:00] rojer commented on #134
@carsonoid should know

[2016-09-27 15:11] spkane opened #135 "Add Support for Github Enterprise"
Some organizations, run GitHub Enterprise, which is simply an internal version of Github. In general, supporting this should be a simple matter, of allowing the base Github URL to be changed.

I'd be happy to test any implementations out if someone wants to take on writing it.

[2016-09-27 16:15] rojer commented on #135
yes, this should be easy enough.
so, in GH enterprise, what is the OAuth URL? i.e. this thing here: https://github.com/cesanta/docker_auth/blob/a6b51a80da2dc15b2a52647d69b45b70c9ca0b1e/auth_server/authn/github_auth.go#L99
and what is the API URL (`api.github.com`)? are they separately configurable?

[2016-09-27 20:54] spkane commented on #135
So, I believe that ```https://api.github.com/``` would become ```https://ghe.example.com/api/v3/```

and I think auth should be done against this API endpoint:

https://ghe.example.com/api/v3/authorizations/clients/

These docs should cover it:

https://developer.github.com/enterprise/2.3/v3/oauth_authorizations/#oauth-authorizations-api

[2016-09-29 13:28] rmoriz opened #136 "Allow tag limits in ACL"
Let's say we have the following situation:

[code]

Some users should be able to access the image tagged as "beta3" but others must not.

I've tried the following without success:

[code]

=> ` {customer123 pull repository namespace/image} did not match any authz rule`

[2016-09-29 15:27] rojer commented on #136
would be great, but unfortunately it's not feasible - token request simply does not include the tag, only repository name. you should bring that up with docker devs.

[2016-09-29 15:27] #136 closed

[2016-10-01 19:12] rojer commented on #135
hm. authorizations is not exactly the thing, as far as i understand. it is described as an alternative to web flow, but we do implement web flow.
anyway, i put together this small change - https://github.com/cesanta/docker_auth/compare/gh?expand=1

try `cesanta/docker_auth:test135`, set `github_auth.ghe_host` and see if it works

[2016-10-07 08:37] Stephan1984 commented on #63
+1 This feature would be great.
@summerQLin

[2016-10-09 18:56] rojer commented on #117
@raphink so, i found a bit of free time over the weekend and put together #139
with that, all you need is add some code to github_auth to assign gh_team labels.
label is a string -> []string map, so multiple teams will be ok and matching will check all of them.

[2016-10-18 11:28] ceecko opened #140 "Support for MySQL"
It would be nice to have support for MySQL for authentication, possibly authorization as well.

[2016-10-19 12:11] JaronVy opened #141 "Login error 404"
I have set up a docker private repo using cesanta authentication and every login attempt fails and does not give me back anything usefull.
On every login attempt, i get the following error:

Error response from daemon: Login: Not found
 (Code: 404; Headers: map[Content-Length:[10] Content-Type:[text/plain; charset=utf-8] X-Content-Type-Options:[nosniff] Date:[Wed, 19 Oct 2016 13:12:01 GMT]])

I ha

[2016-10-19 16:54] ceecko opened #142 "Support for external script for authorization"
It would be great if we could call an external script to get rules for authorization. Similar to external authentication, the script would return json rules separated by a new line which would be then parsed statically and refreshed periodically similar to acl_mongo.

[2016-10-20 07:41] #141 closed

[2016-10-20 10:34] rojer commented on #135
@spkane have you had a chance to try it?

[2016-10-20 20:50] spkane commented on #135
Sorry, I have not yet. Priorities just shifted a bit recently, but this is still something we want to do. I'll make a note to dive into this when I have some extra time in the next week or 2, and then give you some feedback. Thanks!

[2016-10-26 01:25] peebles opened #144 "Error response from daemon: Login: Not found"
I am using docker 1.9.1.  I am running docker_auth on 5001 and registry:2 on 5000.  I am using basically simple.yml with my own certs.  I *have not* changed the "issuer" yet in the registry:2 image.  I don't think I am getting that far yet.

[code]

[code]

[code]

[2016-10-26 07:19] rojer commented on #144
you need to use main registry port in `docker login` command, not the auth sever port.
i.e., `docker login images.smart-retail.com:5000`

[2016-10-26 07:19] #144 closed

[2016-10-26 16:08] peebles commented on #144
[code]

That is about what I would have expected.  Then, I don't understand how docker_auth is supposed to work.  Is it not a proxy in front of the registry?

[code]

[2016-10-26 16:12] rojer commented on #144
read the [docs](https://github.com/docker/distribution/blob/master/docs/spec/auth/token.md).
in a nutshell: in response to login request, registry (port 5000) tells the client (docker CLI tool) the URL of the token server (port 5001), docker sends the request to that url with user and password and obtains a token.

[2016-10-26 18:28] peebles commented on #144
Its not totally clear what values these parameters should take by
reading the doc:

[code]

[2016-10-26 19:04] peebles commented on #144
A pointer to the following document in this README would have been very helpful:

    https://the.binbashtheory.com/creating-private-docker-registry-2-0-with-token-authentication-service/

[2016-10-27 15:47] peebles commented on #144
Ok, gottcha.  Was used to the old nginx proxy solutions.  I'm hot on the
trail now, thanks.

On 10/26/16 9:12 AM, rojer wrote:

[2016-10-28 02:18] cpdevws opened #145 "Deploying in HA mode"
Is it possible to bring up docker_auth service in HA mode (i.e. starting docker_auth container on two separate VMs behind a reverse proxy or load balancer)?

Has anyone tried this or have some insights into this, please share? I am worried, that the JWT tokens issued by the docker_auth service will not be the same across multiple instances (for the same user). Please validate my understanding.

[2016-10-28 08:15] rojer commented on #145
tickets won't be exactly the same in any case.
what matters is that the behavior of the instances is the same - i.e. that they all authorize the same actions by the same users.
if you use static authn/authz or authn/authz backed by the same backend, it should be fine (though e.g. in case of mongo acls there may be a period after acl change where some instances have not reloaded the acls yet and so

[2016-10-28 22:16] gbougeard opened #146 "Empty scope is not handled"
I'm using https://github.com/heroku/docker-registry-client to interact with my registry.
When getting /v2/ the challenge returned does not contain a scope  (seems legit).
But the heroku lib specify `scope` even if it's empty : `GET /auth?scope=&service=Docker+registry` .

This is not well handled on docker-auth side : `Bad request: invalid scope: ""` .

According the spec https://docs.docker.com/r

[2016-10-31 13:30] #146 closed

[2016-10-31 13:31] rojer commented on #146
should've been fixed, thank you!

[2016-10-31 13:36] gbougeard commented on #146
thx to you @rojer When the `latest` image should be updated and available?

[2016-10-31 14:19] rojer commented on #146
just pushed, in `:latest` now

[2016-10-31 14:52] gbougeard commented on #146
Thx. I confirm, it's fixed.

[2016-10-31 21:38] carsonoid commented on #145
I successfully use multiple (3-5) instances of auth_server with Mongo for a ACLs and users. Works like a charm.

[2016-10-31 21:56] rojer commented on #145
thanks, @carsonoid

i'm going to close this, hope the question has been answered.

[2016-10-31 21:56] #145 closed

[2016-10-31 22:51] rojer commented on #100
i'm going to close this - if needed, you can now implement it as an external program via [ext_auth](https://github.com/cesanta/docker_auth/blob/b5b63d933e370be6abdd0b4744af1279159a69ea/examples/reference.yml#L133).

[2016-10-31 22:51] #100 closed

[2016-11-02 04:39] lucasalcantara commented on #36
run go get ./... in your src

[2016-11-11 06:18] cpdevws opened #149 "anonymous user can pull, but not push"
even though I use * in the ACL, anonymous user is only able to pull, but not push to the registry. Is this a requirement or by design?

[2016-11-11 08:18] rojer commented on #149
no, should work. please post verbose log (-v 2)

[2016-11-12 16:12] jeffrey4l commented on #39
I have the same issue too.

configuration file
[code]

[code]

docker_auth logs

[code]

[2016-11-12 16:24] jeffrey4l commented on #149
@cpdevws could u post you config here? in my env, anonymous push does not work.

[2016-11-13 05:26] jeffrey4l commented on #39
after removed following lines in the configuration file, it works.

[code]

[2016-11-16 15:54] mrueg opened #150 "Vendor packages"
Hey,

is it possible to have a vendor tree inside the repository?
That would make deployment easier and more predictable for me.

[2016-12-06 18:52] ricardobranco777 opened #152 "The Www-Authenticate header should be set instead of returning "Auth failed." in the body response"
The "Auth failed." error message isn't helpul at all.  I think the proper way to do this is to set the Www-Authenticate header in the response.

Kind regards,

[2016-12-07 01:58] ricardobranco777 opened #153 "Why use POST when the spec states using GET?"
https://docs.docker.com/registry/spec/auth/token/

[2016-12-07 20:13] #153 closed

[2016-12-09 14:16] aboettger-tuhh opened #154 "routines:SSL23_GET_SERVER_HELLO:unknown protocol:s23_clnt.c:794"
What am I doing wrong?

[code]

[code]

The certificate is correct and valid

[code]

But I get the following error

[code]

[2016-12-23 18:10] rojer commented on #135
i am going to close this on the assumption that #151 fixes it.
feel free to reopen if not.

[2016-12-23 18:10] #135 closed

[2017-01-03 03:37] zyfdegh commented on #150
+1 It would be better if using govendor.

[2017-01-03 03:39] zyfdegh opened #156 "Support for CouchDB"
Any idea on supporting Apach couchdb?

[2017-01-03 07:33] rojer commented on #156
the idea is: someone (you?) writes an [Authenticator](https://github.com/cesanta/docker_auth/blob/master/auth_server/authn/authn.go) or [Authorizer](https://github.com/cesanta/docker_auth/blob/master/auth_server/authz/authz.go), sends a PR and i review it.

[2017-01-03 08:29] zyfdegh commented on #156
Yep, I have forked this repo and will post PR when I finish it.

[2017-01-03 09:40] pygillier opened #157 "Allow custom registry name to be displayed to end-user"
Our internal docker registry is behind a dedicated internal DNS name `registry.company.internal`

When logging in, user sometimes blindy C/C the provided commands and, as no server name is given, their authentication fails.
Another configuration option should be provided under the `token` section where the server name is defined.

[2017-01-30 12:15] mrueg opened #163 "Rename generic "auth_server" binary"
If you build this project currently the resulting binary is called auth_server. This is rather generic and doesn't connect it to docker.

I would suggest renaming it to something that includes "docker" or "registry" so people can connect the binary with docker/registry. Maybe registry_auth instead?

[2017-01-30 12:47] rojer commented on #163
you have a point, but it's a rather minor one. main way people use this is via Docker container called `cesanta/docker_auth` which is more specific. perhaps i should've called it `docker_auth_server`, but that train has sailed ;)

[2017-01-30 18:12] carsonoid commented on #134
@onlyellow I primarily did it because all of the docs I read recommended it. I'm not an expert but from what I've read if you don't copy the session than all the go routines using the main session have to share a socket which can cause one routine to wait for the other to finish. Since it's possible for many auths be happening at the same time it's much safer to give each authentication it's own s

[2017-02-07 00:21] tianon commented on #63
This seems kind of similar to https://github.com/cesanta/docker_auth/issues/117, and thus could probably be helped by https://github.com/cesanta/docker_auth/pull/139, right?

[2017-02-22 16:05] mrueg opened #166 "Override configuration options via Environment"
It would be nice to be able to override config options via the environment as the docker registry currently does.

https://docs.docker.com/registry/configuration/#/override-specific-configuration-options

[2017-02-22 16:37] rojer commented on #166
yes, sounds good to me. as always - PRs welcome.

[2017-02-24 15:15] mrueg commented on #166
Seems like this is what's needed: https://github.com/docker/distribution/blob/master/configuration/configuration.go
https://github.com/docker/distribution/blob/master/configuration/parser.go

Do you think this will be difficult to integrate?

[2017-02-27 03:04] kcd83 commented on #73
@nagarjung `docker login URL` where URL is the registry. The docker_auth must be resolvable to the docker cli as defined in the registry `config.yml`

[code]
The cert and key in docker_auth's `auth_config.yml` must be for that realm url (`https://example.com`)

[2017-02-27 05:39] #62 closed

[2017-03-01 15:15] thias opened #168 "IPv6 : Bad request: unable to parse remote addr"
I have set up `docker_auth`, and got it working with Google API authentication. It works great over IPv4, but fails over IPv6. Maybe it works over IPv6 for "short" addresses such as `::1` (mentioned in the reference configuration file) but not "real" longer SLAAC addresses... (just a guess).

Here are the detailed logs from both `registry` (v2) and `docker-distribution-auth` when accessed over IPv

[2017-03-01 15:40] thias commented on #163
@mrueg : I sort of agree, but keep in mind that you can rename the resulting binary to anything you like. For instance, I have created an rpm package and called all of the package, the binary and the service `docker-distribution-auth` in order to integrate nicely with the `docker-distribution` package that Red Hat provides : http://git.marmotte.net/git/rpms/tree/redhat/7Server/docker-distribution-

[2017-03-16 05:57] francislavoie commented on #150
There's also https://glide.sh/

[2017-03-18 14:32] KDFischer opened #169 "GitHub auth is broken in latest release"
Dear Cesanta Docker-Auth team,

I think the Github authentication in the latest version (1.2) is broken. I never programmed in GO, but I think the problem is that function doGitHubAuthPage doesn't parse GithubWebUri to fill in the URL in the template. Version 1.1, which has the uri hardcoded in the template, is working.

Thanks for this great tool!

Cheers,
Kasper

[2017-03-19 02:09] bramswenson commented on #169
Agreed. There is button rendered on the page at `/github_auth` that indicates a template error. Here is the source:
[code]
I've even tried hardcoding the `github_web_uri` config value to what is clearly the defaults. No joy.

[2017-04-03 19:12] #169 closed

[2017-04-03 19:26] #168 closed

[2017-04-03 19:27] rojer commented on #168
apologies, it was clearly a brainfart: `-1` instead of `+1`. made parsing more robust.

[2017-04-03 19:52] #152 closed

[2017-04-03 19:54] rojer commented on #154
your server is running with TLS disabled.
you are configuring `token.certificate` and `.key` which control token signing, but it's `server.certificate` and `.key` that control whether TLS is used or not.
`token.certificate` and `key`, if not explicitly set, will be taken from `server` but not the other way around.

[2017-04-03 19:54] #154 closed

[2017-04-04 02:51] #150 closed

[2017-04-04 02:57] rojer commented on #166
yes, i think taht since auth server is a companion to the registry, it should use the same configurations scheme. ideally - just directly reuse the one used by the registry.
however, [this](https://github.com/docker/distribution/blob/0700fa570d7bcc1b3e46ee127c4489fd25f4daa3/configuration/configuration.go#L17) seems like a blocker - we have fields with underscores already.
maybe something to consid

[2017-04-07 14:41] muralikg opened #171 "Different docker baseimage than busybox?"
Extending `busybox` based docker image is difficult can you please update it to `alpine` which also has a small footprint but much more easy to extend.

Extending the image becomes necessary when using ext_auth

[2017-04-19 11:14] hsluoyz commented on #84
Hi, I'm the author of [casbin](https://github.com/hsluoyz/casbin). It is an authorization library that supports models like ACL, RBAC, ABAC.

Related to RBAC, casbin has several advantages:
1. roles can be cascaded, aka roles can have roles.
2. support resource roles, so users have their roles and resource have their roles too. role = group here.
3. the permission assignments (or policy in casbin'

[2017-04-19 12:33] franfran3 opened #172 "GitHub auth does not work"
After configuring github auth only, getting on the main auth page displays the source code. The Content-Type header is invalid (`text-html` instead of `text/html`) as shown in auth_server/server/server.go +352.

Once fixed, the /github_auth URL shows a button
[code]

[2017-04-19 12:57] #172 closed

[2017-04-19 12:58] rojer commented on #172
template rendering error was fixed in #169

[2017-04-19 16:06] tboerger opened #173 "Latest change has broken docker image"
The latest change has broken the docker image, it fails to start with:

[code]

If I get into the container with `sh`, change to `/docker_auth` and execute `./auth_server` I get `sh: ./auth_server: not found`.

I am using `cesanta/docker_auth:1`.

[2017-04-19 16:11] tboerger commented on #173
I have switched to `1.2` for now as it still works.

[2017-04-19 16:39] #173 closed

[2017-04-19 16:39] rojer commented on #173
sorry about that, rebuilt and repushed the relevant images

[2017-04-19 16:45] tboerger commented on #173
Thank you for the fast reaction.

[2017-04-21 07:21] ChipmunkV opened #174 "unable to decode token response: invalid character '<'"
Auth:
[code]

Registry:
[code]

[code]

Ports are fine (when auth is stopped - complains about a closed port). Config dirs are distinct. Keys and certificates are the same. Auth logs are empty. Username/Password don't matter.

What the auth server returns instead of token is this:
[code]

[2017-04-21 07:50] rojer commented on #174
what is port 5005?

[2017-04-21 07:54] ChipmunkV commented on #174
[code]

[2017-04-21 08:09] rojer commented on #174
you need `/auth` in `auth.token.realm` ([example](https://github.com/cesanta/docker_auth/blob/d76a69c31cdef1ea1c21b0c675aaeaef6d87594f/examples/reference.yml#L7)).

[2017-04-21 08:09] #174 closed

[2017-04-24 11:48] fentas commented on #171
I currently use this repo to extend `docker_auth`. But I would like to get rid of it.
https://github.com/progrium/busybox

[2017-04-25 06:43] fentas opened #175 "[question][proposal] ability to set configuration in environment"
Is it/Would it possible to set the/parts of configuration in environment?
e.g.
[code]

[2017-04-25 06:46] fentas commented on #175
Ups. Duplicate of https://github.com/cesanta/docker_auth/issues/166

[2017-04-25 06:46] #175 closed

[2017-04-28 13:03] catsem opened #176 "Missing authn rule for "Pull through cache" registry use case"
While I was trying to use the auth_server in the "pull through cache" registry use case (https://docs.docker.com/registry/recipes/mirror/) I faced the problem that the docker client cannot authorize.

Docker login is successful. Then I try "docker pull ubuntu" -> docker agent asks private registry (as pull through cache) -> Error in auth_server:

[code]

I used this acl:
[code]

Because I noticed

[2017-04-28 13:36] gbergere commented on #94
Having the same issue I don't see any solution in here. :/

[2017-05-04 17:55] ZirkPrime commented on #39
I am having the same issue originally described (trying to allow anonymous access to catalog). When trying to use curl to get the catalog contents, I get the following response:
[code]
I am following the below example from https://github.com/cesanta/docker_auth/blob/master/examples/reference.yml
[code]
except I have modified it to be anonymous access instead of any logged in user, my exact config

[2017-05-05 08:01] catsem commented on #176
Please tell me if I did something wrong in the issue description. Or is this targeted use case impossible with cesanta/docker_auth?

[2017-05-08 18:55] carsonoid opened #177 "Implement Authn lockout/throttle implementation"
Right now there isn't anything that detects and responds to repeated failed authentication attempts. What do you think about implementing a lockout policy or throttling system?

[2017-05-09 09:04] rojer commented on #177
no objections in principle. what criteria for lockout do you propose?

[2017-05-20 09:45] hsluoyz opened #178 "Support casbin as the authorization backend"
[Casbin](https://github.com/casbin/casbin) is an authorization library that supports models like ACL, RBAC, ABAC.

Related to RBAC, casbin has several advantages:
1. roles can be cascaded, aka roles can have roles.
2. support resource roles, so users have their roles and resource have their roles too. role = group here.
3. the permission assignments (or policy in casbin's language) can be persiste

[2017-06-03 00:23] alonbl opened #179 "Support multiple LDAP (fallback)"
Hi,
Currently a single LDAP server can be provided.
It would be nice if multiple addresses can be provided so that a fallback can be achieved.
Most applications support this simple fallback sequence to reduce downtime.
Thanks!

[2017-06-03 08:14] alonbl commented on #61
Hi,
I see there is an option for offline_token=true to get access_token in spec[1], I do not see this is being supported by docker_auth. I guess it was added to the spec after?
Thanks!

[1] https://github.com/docker/distribution/blob/master/docs/spec/auth/token.md

[2017-06-06 11:51] chaosk opened #180 "LetsEncrypt support broke non-TLS setups"
After a764263 my docker_auth setup is unable to handle HTTP traffic. It seems it's always attempting to treat it as HTTPS.

Part of the auth_config.yml:
[code]

Log:
[code]

Reverting to tag 1.2.1 makes it work again.

[2017-06-06 22:40] #180 closed

[2017-06-06 22:41] rojer commented on #180
thanks for the report!

[2017-06-06 22:46] rojer commented on #179
the library we use (https://github.com/go-ldap/ldap) does not support specifying more than one server.
given that, i do not think that developing failover functionality is in scope for this project.
i suggest you deploy a failover proxy/load balancer to provide fault tolerance.

[2017-06-06 22:46] #179 closed

[2017-06-06 22:49] rojer commented on #178
this seems interesting.
ideally, with backward compatible configuration, but if it's compelling enough, we can consider full replacement and cutting a v2.
as always, providing implementation will speed up adoption :)
absent that, you will need to wait until i have spare cycles, of which i have very few (this is essentially a side project for me).

[2017-06-07 06:42] chaosk commented on #180
Lovely, thanks!

[2017-06-08 09:12] alonbl opened #181 "Support URL prefix"
Hi,

Current URLs are hardcoded, as in:
[code]

Can you please consider supporting a configuration option of URL prefix (default '/'), so that the service safely play behind a proxy?

Docker-distribution support this as well[1]
[code]

Thanks!

[1] https://github.com/docker/distribution/blob/master/docs/configuration.md

[2017-06-08 10:18] rojer commented on #181
no objections. feel free to implement and send a PR, or wait until myself of someone else gets to it.

[2017-06-08 10:53] alonbl commented on #181
Great! I will try to submit my first go patch :)

[2017-06-10 10:01] hsluoyz commented on #178
Hi @rojer ,

Thanks for your reply! I have made a PR about adding Casbin authz way: https://github.com/cesanta/docker_auth/pull/182

The original auth way like ACL is a little complicated, like the label. I don't know if I understand it correctly, please advise.

And I have also added the test. In the test I demonstrated the usage of RBAC and admin. So a user can inherit the permissions from a rol

[2017-06-13 15:06] mrueg commented on #39
@rojer can you reopen this one? It seems like the rule doesn't match as expected for anonymous users trying to access the catalog?

[2017-06-13 15:40] mrueg commented on #149
I think it could be related to https://github.com/cesanta/docker_auth/issues/39 (which also requires actions="*")

[2017-06-14 09:58] chenliping972385283 opened #183 "connect ldap"
may i ask an question?i want to connect to ldap ,so i write ldap_auth.yml, like this:
server:
  addr: :5001
  certificate: /ssl/server.pem
  key: /ssl/server.key
token:
  issuer: Acme auth server
  expiration: 900
ldap_auth:
  # Addr is the hostname:port or ip:port
  addr: ldap://192.168.0.64:389
  # Setup tls connection method to be
  # "" or "none": the communication won't be encrypted
  # "alwa

[2017-06-20 11:59] cnluzhang opened #184 "docker_auth behind nginx"
I use the same domain to serve both docker_auth and registry, the nginx conf like below.

    listen 443 ssl;

    server_name docker.example.com;

    xxxx; #some certs config

    location /auth {

        proxy_pass http://docker_auth/; #run docker_auth without tls

        xxxx; #some header config

    }

    location /v2 {

        proxy_pass http://registry;

        xxxx; #some header conf

[2017-06-30 22:00] alonbl commented on #181
Hi,
Finally I had time!
It[1] was trivial (I think), and working in our setup.
Thanks!

[1] https://github.com/cesanta/docker_auth/pull/185

[2017-07-14 20:28] ChipmunkV commented on #184
I'd like to do the same thing, but your solution doesn't work for me.

Could you please share all configs of the nginx, registry and the auth_server?

[2017-07-16 15:49] vmarchaud opened #186 "docker_auth not working when request come from internet"
Hello,

I have trouble with my new setup of `docker_auth` + `registry` since i launched them inside a rancher environment, i successfully in the past make them work but without rancher.
I know that rancher might be the problem here, but i'm just seeking any hint of where to debug thing.

I successfully configured both the registry and docker_auth, it works but only on the local network, see regist

[2017-07-27 15:19] everett-toews opened #188 "Examples of labels used in the ACL"
There's a good example of how to generate labels in [ext_auth.sh](https://github.com/cesanta/docker_auth/blob/master/examples/ext_auth.sh).

However, there are no examples of how to actually use those labels in the `acl` section of the [reference.yml](https://github.com/cesanta/docker_auth/blob/master/examples/reference.yml). A collection of examples that use label in the ACL would be very helpful

[2017-08-07 10:42] mgenov opened #189 "docker_auth/github: newly-acquired token is invalid"
When I'm trying to authenticate user through Github I'm getting: "Newly-acquired token is invalid"

The logs says that app is unable to validate the organization.
ExpiresIn:0 TokenType:bearer Error: ErrorDescription:} could not validate organization:

Doc at:
https://developer.github.com/apps/building-integrations/setting-up-and-registering-oauth-apps/about-scopes-for-oauth-apps/

says that: read:

[2017-08-07 11:26] mgenov commented on #189
It looks like that adding of read:org scope fixes the issue.

Filed up PR #190 that fixes this issue.

[2017-08-07 11:31] #189 closed

[2017-08-07 16:07] mgenov opened #191 "docker_auth/github/proposal: per team authorization"
## Problem
ACL matching of Github authorization requires per user restriction which requires acl's accounts to be hardcoded in the configuration. The acl configuration need to be added or removed regarding change of the user.

## Proposal
As labels are used by the ACL for matching it would allow Github authorization to provide teams to which user is assigned in that organization. As teams are much

[2017-08-07 16:34] #188 closed

[2017-08-07 16:41] mgenov commented on #191
I'm open to contribute this change if team accepts the proposed solution.

[2017-08-07 17:07] mgenov commented on #171
This is what we are using for our Go stuff:

[code]

The image is small enough and doesn't require ca-certifcates to be copied from the local filesystem.

[2017-08-07 18:22] everett-toews commented on #171
Thanks for sharing @mgenov. We're doing something similar but I used a multi-stage build to keep the image as small as possible. And then added in some utils we need much like you did.

[code]

[2017-08-07 19:53] rojer commented on #171
oh wow, i wasn't even aware that such multistage process is possible.
thanks for sharing, @everett-toews

[2017-08-23 17:41] carsonoid commented on #84
I think that this is solved by the addition of labels. I'm working on a PR to add label support into the Mongo integration. Once that is merged this can be closed.

[2017-08-30 18:09] carsonoid commented on #84
@rojer this can be closed once #194 and #195  are approved and merged.

[2017-08-31 15:37] carsonoid commented on #186
The registry doesn't talk to `docker_auth`, the docker client does. What happens when you make a call to the registry is that it returns the authentication url to the client. The client then makes the authentication call, gets a token, and uses the token to call back to the registry.  You need to make sure that both the registry and auth server are accessible from the internet, and that the [realm

[2017-08-31 15:39] carsonoid commented on #181
I think this issue can be closed now @alonbl

[2017-08-31 17:28] alonbl commented on #181
Hi,
Sure, it is working for me per master.
Thanks!

[2017-08-31 17:28] #181 closed

[2017-09-04 16:00] vmarchaud commented on #186
@carsonoid Thanks for the explanation, it might indeed come from the container itself that can't reach the registry, closing this issue :)

[2017-09-04 16:00] #186 closed

[2017-09-05 23:51] zoranid opened #196 "Get http://authserver.example.com:5000/v2/: Get https://authserver.example.com:5001/auth?account=admin&client_id=docker&offline_token=true&service=Docker+registry: Forbidden"
[code]

[2017-09-12 14:55] henti commented on #189
Good day @rojer

Can you tag new release for this as github auth is broken otherwise and possibly update the docker image on docker hub

[2017-09-21 09:53] henti opened #198 "Incorrect processing of ACLs"
using 1.3 with github_auth (Thank you for latest release), however the ACL processing seems to be broken.

I built the following ACL.

[code]

My understanding according to reference.yml is that this will give all Logged in users access to read the catalog, full access to scratch/* namespace and I can push anywhere.

In practise, only the last ACL is applied. When logged in, I can list the repos b

[2017-09-21 10:02] henti commented on #198
Update, I found the problem in my push scenario. I had multiple servers in auth in config.json, and it was connecting to the wrong server, even with the tag including the correct server name. e.g.

[code]

But the push command was

`docker push docker-registry.some_company.com:5000/scratch/ubuntu`

This seems to be a docker bug :(

The catalogue problem does persist. I should note I'm using jessfr

[2017-10-05 18:41] fentas commented on #171
@everett-toews thanks a lot. I could not build it from source. Got an error:
[code]

But I ended up just doing this:
[code]
Real simple that way. :+1:

[2017-10-06 18:55] muralikg commented on #171
Thanks @everett-toews  and @fentas , the solution provided allows us to use it with any base image of our choice.
Will be closing this as there is no need to change current busybox based image.

[2017-10-06 18:55] #171 closed

[2017-10-09 08:20] nenadalm opened #200 "Healthcheck"
Hi. Maybe it would be good idea to add healthcheck (https://docs.docker.com/engine/reference/builder/#healthcheck)? So that if something happens, container can be automatically restarted?

Maybe something like:
[code]
(curl would have to be installed in the image)
?

[2017-10-13 23:11] schancel opened #201 "Catalog endpoint does not seem to be captured by full access?"
I have a service account with the following permissions:
[code]

And it is getting this error while querying the catalog:
[code]

Is there something additional required for "full access to everything?"

[2017-11-07 03:35] eengstrom opened #202 "are labels in YAML config file ACL specifications in the latest docker image"
I just started using docker_auth today - worked quickly out of the box, that is until I tried to use the labels as exampled in https://github.com/cesanta/docker_auth/blob/master/docs/Labels.md, but I could not get them to work.  I tried both the stable (:1) and :1.3 tags of the docker image, but neither seemed to work.  I didn't dig any further, such as trying a source build, but will if someone c

[2017-11-07 03:38] eengstrom commented on #184
I just started using docker_auth today, and I have it working (sort-of) through an nginx proxy.  Technically, I have the docker registry pointing directly at the docker_auth container, rather than going through the proxy again.

However, it could be that you are not providing the (same) SSL certs you deployed in your nginx proxy server as the certs in the docker_auth auth_config.yaml file.  If you

[2017-11-07 05:04] carsonoid commented on #202
Can you post your config?

On Nov 6, 2017 8:35 PM, "Eric Engstrom" <notifications@github.com> wrote:

[2017-11-07 15:27] eengstrom commented on #202
Config:

    server:
      addr: ":5001"
      certificate: "/certs/cert-bundle.pem"
      key: "/certs/cert.key"

    token:
      # Issuer *MUST* match issuer in the Registry config.
      issuer: "Docker Auth Server"
      expiration: 900

    users:
      # Password is specified as a BCrypt hash.
      # Use `htpasswd -B` to generate.
      # For 'labels' (e.g. groups/projects) see also

[2017-11-08 17:35] Phlamethrower opened #204 "LetsEncrypt cache_dir not used?"
If you're using LetsEncrypt, you're required to specify a cache_dir value in the config file, but when LetsEncrypt is being initialised it doesn't look like the value is actually used.

https://github.com/cesanta/docker_auth/blob/master/auth_server/server/config.go#L228
https://github.com/cesanta/docker_auth/blob/master/auth_server/main.go#L79

[2017-11-15 05:41] techknowlogick opened #205 "Unable to connect to Azure's Cosmos DB (MongoDB)"
Azure runs Cosmos DB on a non-standard MongoDB port, and requires SSL. Due to these two things docker_auth is unable to connect to the MongoDB server.

Example of the config block that I attempted to use to connect so far:
[code]
Azure provides a connection string similar to: `mongodb://docker-registry-auth-test:abcd1234@docker-registry-auth-test.documents.azure.com:10255/?ssl=true`

[2017-11-15 07:50] rojer commented on #205
@carsonoid any ideas?

[2017-11-15 07:52] rojer commented on #202
@carsonoid go ahead with the PR, i can make a point release with the fix

[2017-11-15 21:06] techknowlogick commented on #205
Ah, a dial server function needs to be added to the dialfunction.

Here is some sample code that Microsoft provides: https://docs.microsoft.com/en-us/azure/cosmos-db/create-mongodb-golang#review-the-code

perhaps a bool under dial_info could be added (just like how password_file is non-standard) for tls, then if that is set to true use a tlsdialer.

[2017-11-15 22:07] carsonoid commented on #205
Yeah that would be easy enough to add. I can probably write up a PR for
that if you aren't able/willing to do it.

On Wed, Nov 15, 2017 at 2:06 PM, techknowlogick <notifications@github.com>
wrote:

[2017-11-15 22:07] carsonoid commented on #202
Sounds good. I'll work on that feature add.

On Wed, Nov 15, 2017 at 12:52 AM, Deomid Ryabkov <notifications@github.com>
wrote:

[2017-11-15 23:03] carsonoid commented on #202
@rojer PR #206 fixes this. and PR #199 fixes another small bug when using labels in regex

[2017-11-15 23:04] #202 closed

[2017-11-15 23:18] techknowlogick commented on #205
I've just created a PR for this. Please let me know if I need to sign a CLA or something.

[2017-11-15 23:29] #205 closed

[2017-11-15 23:58] rojer commented on #202
i pushed `-latest`, will let it brew there for a while before cutting `1.3`

[2017-11-15 23:58] rojer commented on #205
i built and pushed a new image to `:latest`, you can try it there.

[2017-11-16 00:39] techknowlogick commented on #205
It worked! Thank you :heart:

Just a note for people googling this: I wasn't able to use the read-only keys from Azure Cosmos DB, as the following error happened: `Cannot execute command createindexes using PrimaryReadonlyMasterKey`, as well once I changed to the read-write key it also error'd out because: `{"Errors":["Unique Index can be modified only if collection is empty"]}`. However, I remove

[2017-11-16 17:28] #84 closed

[2017-12-05 10:34] tsl0922 commented on #32
This is an example non-TLS config:

**docker-compose.yml**
[code]

**auth_config.yml**
[code]

[2017-12-25 01:07] chrishecker opened #210 "seems like docker_auth and registry both can't work on same ip with letsencrypt"
After a bunch of debugging, it appears letsencrypt requires the requester to be able to reply on 443, so if you've got registry and docker_auth both using it for SSL certs you're out of luck?  I wonder if it would be possible to have docker_auth use the json file from registry's letsencrypt request, which would be one way to solve this problem?

Otherwise I think I'm going to have to either get a

[2017-12-25 05:13] techknowlogick commented on #210
@chrishecker I've solved this by using caddy to deal with letsencrypt and have it proxy to the registry and auth server. If you want you can see how I have it set up here: https://github.com/techknowlogick/docker-registry

[2017-12-25 09:52] chrishecker commented on #210
So I didn't really like the idea of another heavyweight moving part like a proxy server in the mix, and so I went a little crazy and realized that I could use the busybox environment that docker_auth is in to run a shell script that can take the main registry letsencrypt.json file and blow it out to a key and pem file for docker_auth, and if you modify the auth_config.yml file there's already code

[2017-12-26 08:22] chrishecker commented on #210
Okay, I just ahead and wrote the code for this in docker_auth, it's way cleaner that way.  Here's the pull request, and the comment mentions the issues (nothing serious, a bit of a bootstrap ordering, and a note about testing): https://github.com/cesanta/docker_auth/pull/211

[2018-02-02 13:13] rdjones517 opened #213 "docker_auth/docs/Backend_MongoDB.md"
If the acl list on  docker_auth/docs/Backend_MongoDB.md  is used as is, pushing to a namespace that matches the users username doesn't work. It seems that the acl to allow all logged in users to pull is matched and subsequent acls are ignored. Therefor the acl to allow pushing to a namespace that matches the users username should be moved up in the sequence.

[2018-02-02 21:53] #213 closed

[2018-02-02 21:59] rojer commented on #204
oops, true. fixing now!

[2018-02-02 21:59] #204 closed

[2018-02-06 16:55] tabka opened #215 "get curl inside docker_auth container"
I want to allow users to access the registry from an external api so I would like to use curl inside ext_auth.sh
example:
[code]

But inside the container there's no way to get curl.
So is there a way to use the docker_auth server and make it contact an external api.

Thank you for your help

[2018-02-06 17:34] carsonoid commented on #215
You would need to build your own version of the image based on a larger distro with a package manager.

I would suggest that you pull down the repo, edit the [dockerfile](https://github.com/cesanta/docker_auth/blob/master/auth_server/Dockerfile) to be based on something like alpine so that you have a proper package manager. Then you can add a line to install curl.

It would be something like this:

[2018-02-07 11:09] tabka commented on #215
Thank you very much , it works perfectly.
I thought about it in the beginning but I missed the fact that I can build the auth_server binary by my self with the Makefile. And now everything is working as required.

[2018-02-07 11:09] #215 closed

[2018-02-07 18:04] karmi commented on #191
Update from this week:

* We have improved the `Makefile`, cutting the time to build the project by more than half
* We have hit an issue where a [popular Go library](https://github.com/jteeuwen/go-bindata)
  dissapeared from Github (sic!), working around it
* We have solved the issues with dependencies by using ``govendor sync -v`
* We have extracted every separate functionality into a special br

[2018-02-15 06:12] ThilinaManamgoda opened #216 "What is the time unit of this tag ?. Is it for Access token or Refresh token ?"
https://github.com/cesanta/docker_auth/blob/509a03a9622f460ded806a2c7b7b27717b3cb1f5/examples/reference.yml#L47

[2018-02-15 17:59] carsonoid commented on #216
Seconds.

It's just an integer that get's added to the unix epoch at the time of token creation: https://github.com/cesanta/docker_auth/blob/dd8ea4b8429b5e31bf102f77fdda866186e2cb6f/auth_server/server/server.go#L302

[2018-02-19 05:23] ThilinaManamgoda opened #222 "One authorization request per each Docker command"
I have noticed that per each Docker command, the Docker auth service gets hit for authorization. But as far as I understand this token based and authentication server should get hit when the access token is expired. I have increased the access token expiration but still, the problem occurs.

[2018-02-19 14:07] Ouwen opened #224 "SQL authn"
Figured it would be nice to have a SQL option for Auth. #223

Adding the following yaml block will connect to a SQL user, password, labels store

[code]

The `data_source_name` can be an environmental variable specified by `$MY_DATA_SOURCE_NAME`
or `${MY_DATA_SOURCE_NAME}`

If you already have an existing table of users you can map them by mapping
 - a `text` column of the table to `user_column`

[2018-02-20 06:35] #216 closed

[2018-03-17 15:34] patricklucas commented on #222
I also noticed this while evaluating docker_auth for a production use-case. Clearly the expiration works to some extent—a typical Docker operation involves numerous HTTP requests for which the registry would need to authenticate the token each time, and this seems to work fine—but just not between subsequent operations.

It could be something to do with my configuration I suppose. Something that c

[2018-03-30 10:12] patricklucas commented on #222
Actually, I was claiming the opposite: my client appeared to be getting 401s from the registry and then re-requesting a new token on every HTTP request, not just every command. (i.e. the initial GET to /v2/ as well as requests for manifests and blobs)

However, I just re-ran my test to collect some logs, but now it's happening how I expect: the GET to /v2/ returns a 401, my client gets a token for

[2018-04-04 09:14] scampion opened #226 "Webhook by acl"
Idea:  For each acl, you can configure a webhook

Each time, this acl is requested a JSON payload is sended to the webhook endpoint (status : success, user: john ...etc)

This feature is really useful if you want to integrate docker_auth in an complex process pipeline.

For my usage, we need to update our data when a push is done.

I'm not a go developer but i will try to hack, if you have any sug

[2018-04-04 10:57] techknowlogick commented on #226
@scampion Docker Registry has many different types of notifications already available, perhaps you it would be better if you looked at those first. See: https://docs.docker.com/registry/notifications/

[2018-04-12 09:52] mrueg opened #227 "Tag a new release"
Can you tag a new release? @rojer

Thanks!

[2018-04-12 19:32] rojer commented on #227
done: https://github.com/cesanta/docker_auth/releases/tag/1.3.1

[2018-04-12 19:32] #227 closed

[2018-04-12 20:51] mrueg commented on #227
Thanks a bunch!

[2018-04-12 22:03] superstator commented on #184
I think your problem is the trailing slash on ` http://docker_auth/`. The absence or presence of a trailing slash tells nginx to rewrite those urls differently (I forget the exact rules). We're running successfully behind nginx with a config like so:

[code]

and in the registry config:

[code]

[2018-04-12 22:09] superstator opened #229 "Applying labels to static users"
Forgive me if I've missed something obvious, but I am trying to apply group labels to users in a static config. The reference examples don't seem to cover this, and my guesses haven't panned out so far. Right now I have a config that looks something like this:

[code]

I'm able to login as `cool_user`, but I cannot pull anything. I'm guessing the problem is with the user definition as opposed to t

[2018-04-12 22:58] carsonoid commented on #229
I hate to say it, but it works for me. Here is a full `auth_config.yml` that I tested with and got the expected results:

[code]

Test:

[code]

[2018-04-16 20:16] gabrieloshiro commented on #92
@carsonoid Where should I put this config?

[2018-04-16 21:09] carsonoid commented on #92
@gabrieloshiro That is a snippet of the docker_auth.yaml file mentioned in the [readme for this repo](https://github.com/cesanta/docker_auth/blob/master/README.md#installation-and-examples)

Depending on how you run docker_auth you may mount it into a docker container or just pass it directly to the binary.

[2018-04-16 22:50] gabrieloshiro opened #230 "Can docker_auth work with docker login?"
Hi,

I would like to allow users to log in my private registry using their google accounts. I've set up `docker_auth` up to the point where I can navigate to `https://<MY_DOMAIN>:5001/` then there will be a link to login with google account. After logging in I get the following message "Server logged in; now run "docker login YOUR_REGISTRY_FQDN", use <EMAIL_ACCOUNT> as login and <PASSWORD> as pass

[2018-05-03 17:57] Spiltpickle opened #231 "TLS 1.2?"
Would it be possible to be able to define which TLS version to use in the config?

This is to fulfill PCI requirements of not using TLS 1.0, etc...

[2018-05-31 20:34] adamdecaf commented on #231
https://github.com/cesanta/docker_auth/pull/232 should let us use TLS 1.2

[2018-06-01 01:41] rojer commented on #191
i believe @karmi nailed this one

[2018-06-01 01:41] #191 closed

[2018-06-01 01:42] #231 closed

[2018-06-25 19:16] adamdecaf commented on #201
I've been trying to debug the same issue for `/v2/$name/tags/list`. @rojer Do you know by chance?

[2018-06-26 20:47] adamdecaf commented on #201
I think my problem is the same as @schancel, but I'm not sure where to go next.

Here are my ACLs:

[code]

I get the following response when trying to view tags (`/v2/$name/tags/list`):

[code]

docker-auth logs:
[code]

I do have a question in that why is `alerts-settings-server` the name here? I've only made requests to another name `elasticsearch-sidecar`.

[2018-06-27 16:37] adamdecaf commented on #201
After a couple days struggling to figure this out I think I've got a fix. cc @schancel

tl;dr You need to request a token and use that on your `/_catalog` or `/tag/list` request.

https://github.com/docker/distribution/issues/877#issuecomment-131197824 mentions "all endpoints are protected" and after reading the docker registry code that's true. Thus, any request _without auth credentials_ will be

[2018-07-12 07:37] jomach commented on #201
I had the same problem when trying to query the endpoint /v2/_catalog via firefox. At the end I get a token on on auth endpoint without any authentication for the service that I want and then it works.

[2018-07-12 10:30] bykvaadm opened #236 "panic: non-positive interval for NewTicker"
Hi! i've got this error, trying to connect docker_auth to mongodb in docker-compose:

[code]

Docker-compose:

[code]

config:

[code]

Could u please tell me what i'm doing wrong?  Without mongo int works fine.
docker_auth version: 1.3.1,latest

[2018-07-12 11:08] bykvaadm commented on #236
the problem was with indent of cache_ttl. it wasn't part of acl_mongo, but global.

[2018-07-12 11:08] #236 closed

[2018-07-25 19:46] jaguardev opened #237 "order of acls matters!"
this
[code]

is not the same as
[code]
spent a few hours to catch this. maybe update documentation with a note "acl order matters"?

[2018-07-25 20:01] carsonoid commented on #237
I'm glad you worked it out! That note is already in the docs. I think you
just missed it:
https://github.com/cesanta/docker_auth/blob/master/examples/reference.yml#L193-L195

On Wed, Jul 25, 2018 at 1:46 PM, Vlad Chernikov <notifications@github.com>
wrote:

[2018-07-26 11:30] jaguardev commented on #237
you are right man. my bad

[2018-07-26 11:30] #237 closed

[2018-07-26 23:20] leonardochaia opened #240 "Docker push causes unauthorized: authentication required when pushing"
Hi, **this is not an issue**. Just wanted to share this since it was hard to find.
I'm pushing this layer which weights 14gb. I'm getting this error after the layer finishes pushing:
[code]

I found some curious logs on the registry:
[code]

I believe that when the docker client attempts to finish the operation the token is expired, which leaded me to increase the `expiration`  on the auth config,

[2018-07-26 23:20] #240 closed

[2018-07-27 18:54] fxdgear opened #241 "the `/tmp` directory"
The auth service writes lots to a `/tmp` directory.

1. Why?
2. Why is this not documented
3. This directory will grow and grow as the service runs consuming disk space making it difficult to track down since it's inside the container.

Currently we have to volume mount `/authlogs:/tmp` when running the process so we can prune these log files.

Using any cli flags when starting the process doesn't

[2018-07-27 19:06] carsonoid commented on #241
This is a function of the `glog` library that is used in the server: https://github.com/golang/glog

According to the source code you should be able to use the `-logtostderr=true -alsologtostderr=false` flags to only log to sderr instead of files.

Note: You don't technically need to set the `-alsologtostderr` flag since the default is `false` but I put it here for explicitness.

[2018-07-31 18:11] fxdgear commented on #241
ALSO, why is this file a binary file? When i attempt to `less` the file i get the following:

[code]

Though `cat`ing the file seems to work just fine. Attemping to parse these logs using logstash/filebeat fails because I end up with a wall of `/u0000` and I think there's something going on with the way either `docker_auth` is writing the log files and or the way `glog` is being used.

I'm not a g

[2018-07-31 20:06] fxdgear commented on #241
closing, thanks for the response. sorry for the noise

[2018-07-31 20:06] #241 closed

[2018-11-15 21:43] trollr opened #243 "google_auth + static user map"
At the moment I create a helm chart for docker_auth to deploy it with ease in a k8s cluster (I will later
 publish it in incubator repo). However I have an issue with google auth + static user map for technical users (eg. build systems without oauth account). Is it possible to use both ways?

That's my current config

[code]

[2018-11-15 21:50] rojer commented on #243
yes, auth methods are checked in order and whichever succeeds stops the check.
auth mechanism responds "success", "fail" or "don't know" the latter being - "i don't know this user, continue to other methods".
so yes, you should be able to use static users and google accounts. if it doesn't work, it's a bug.

[2018-11-16 09:52] trollr commented on #243
Ok found the issue. My passwort wasn't a BCrypt hash -.-

[2018-11-16 09:52] #243 closed

[2018-11-22 00:26] mikhail-khodorovskiy opened #244 "Running docker_auth as reverse proxy."
I have an nginx-based ECR proxy that makes accessing ECR easy as anonymous user.  I'd like to add the proxy in front of it that would support Basic Auth or LDAP for "docker login".  Is there a way to do this with this project or the only protocol it understand is when registry calls it to confirm the access?

[2018-12-31 09:08] tamasgal commented on #39
I have the same issue, I cannot access the catalog from the browser or via `curl` no matter if I use anonymous access or an authenticated user (as far as I understood I'd need a bearer token anyways).

Are there any updates on making the catalog accessible for anonymous users?

[2019-01-05 16:41] mb3dot opened #245 "token auth requires now a new option bool: autoredirect"
Hi,

the new Docker Registry 2.7 *needs* now the new option bool: autoredirect

for example:
------ registry config.yml ----------------------------
auth:
   token:
      realm: https://registry.example.com:5001/auth
      autoredirect: false
      service: docker registry
      issuer: acme auth server
      rootcertbundle: /path/to/server.pem
------ registry config.yml --------------------------

[2019-01-06 18:08] rojer commented on #245
so this is about registry config, not auth server, right?

[2019-01-07 18:33] mb3dot commented on #245
yes, but `docker_auth/examples/reference.yml` needs an update..

and the new autoredirect generate url's like `realm = fmt.Sprintf("https://%s/auth/token", r.Host)` and would be a nice feature when the registry and docker_auth are behind a reverse proxy..

[2019-01-08 20:24] rojer commented on #245
fair enough, example updated.

so what would supporting the redirect entail? sorry, it's been a while since i've looked into this, need a bit of paging in of context. do we need to implement `/auth/token` endpoint in docker auth?

[2019-01-11 09:23] mb3dot commented on #245
yes!.. : ) that would be very useful..  otherwise, this cool new function would be useless.. and that would be a pity..

[2019-01-15 08:14] alexivkin commented on #245
An easy workaround is to set REGISTRY_AUTH_TOKEN_AUTOREDIRECT=false for your registry:2.7+

[2019-01-25 19:34] aparamon opened #246 "LDAP: option to initially bind with user credentials"
Currently, LDAP auth works like this:
1. Bind without credentials or using service credentials:
https://github.com/cesanta/docker_auth/blob/1e138837a652d45b2278a457ec0698985e0190e3/examples/reference.yml#L139-L142
2. Search using specified filter,
3. Bind with user credentials.

It is proposed to introduce additional option to bind with user credentials initially (assuming users can search filter)

[2019-01-26 01:04] rojer commented on #246
sounds reasonable. a PR that does this in a backward-compatible manner will be accepted.
so, perhaps a boolean option `bind_with_user_creds` or some such.
i have no time to devote to this though, so unless there's a PR this is not happening any time soon.

[2019-01-29 11:00] aparamon commented on #246
A bit lower-hanging fruit (and somewhat orthogonal but related feature) is to allow `${account}` expansion in `bind_dn`, plus option to use account password for initial bind.

[2019-02-27 15:56] alexey-dushechkin opened #248 "Token issued with empty actions when "*" requested and "pull" allowed"
Hello,

I'm trying to run [this webUI for Docker Registry](https://github.com/Quiq/docker-registry-ui) with docker_auth in anonymous read mode.

My acl contains this:
[code]
registry, docker_auth and webUI containers are in the same 172.16/12 network.

WebUI asks for token `"registry:catalog:*"` and receives it ok, but when it asks for `"repository:testrepo/testrepo2:*"`, it receives a token with

[2019-03-01 19:25] rojer commented on #248
can you post both requests, as logged by docker_auth, in here for reference? i'm afraid i still don't quite understand what the two requests look like.

[2019-03-04 04:44] alexey-dushechkin commented on #248
Sure, here it is:

[code]

[2019-03-09 13:19] makbn opened #249 "Error authorizing context: invalid token"
Hi, I tried to login with reg.mydomain.com:5000/auth and got this token:

[code]

and after that I tried to call `/v2/` endpoint on my reg domain with `Authorization : Bearer eyJ0eXAiOiJKV1...` i still get `401 Unauthorized` exception and container logs are shows **authorizing context: invalid token**:

[code]

and my response header:

`Www-Authenticate →Bearer realm="https://reg.mydomain:5000/aut

[2019-04-09 12:46] madushajg commented on #184
you may receive the same error response if your realm is incorrect.

[2019-04-12 07:12] madushajg commented on #248
I'm also having the same issue, auth server does not generate the intended token with "actions": [*].

[2019-04-26 01:25] laopisai commented on #39
I have the same issue, all endpoints work except catalog

[code]

Here's what I found in the response header

[code]

[2019-04-30 17:24] paspo commented on #248
I have the same problem. I'll try to explain:

## what I want to achieve
I want a registry which is read-only (no push) for the public (say any unauthenticated user) and read-write for any authenticated user.

## the base problem
With the aforementioned configuration, when you curl your registry anonymously like so:
[code]
you obtain a 401 result code with an extra header
[code]
that you should fo

[2019-05-02 20:16] paspo commented on #248
The header-injection test wasn't a good idea: for every (anonymous) request, this was passed to a "middle" container that:
* forward the unauthenticated request to the registry
* get the www-authenticate header from the response
* do the authentication with the auth container
* forward the original request to the registry, with the injected token header

That was expensive.

So I simply found anot

[2019-05-14 11:26] shin-nien opened #250 "Flag/switch to disable keep-alives"
We deploy `docker_auth` configured to use `ext_auth.sh` into Kubernetes where we see an uneven distribution of requests (most likely due to kube-proxy) and eventually we hit an upper limit of how much `docker_auth` can fork to call `ext_auth.sh`.

Disabling `keep-alives` at least allows us to scale horizontally so this issue is to add a flag to do just that.

At the moment we're patching `docker_a

[2019-05-14 11:29] rojer commented on #250
makes sense, go ahead

[2019-05-31 11:26] JacobTheEvans commented on #215
Hey guys,
Just came across this thread and took the advice from @carsonoid to download the library and mount it in alpine so I could also use curl. I wanted to share my specific docker file implementation in case anyone else comes across this thread.
[code]

[2019-07-21 21:42] eugene-bright opened #252 "SASL GSS-API/Kerberos"
Can't find example configuration to login LDAP with Kerberos keytab without bind_dn and password.

Is it possible or planned?

[2019-08-05 13:26] tharindulak opened #253 "Reason for spawning a new process in authentication and authorization extensions ?"
I have been using docker auth authorization and authentication extension for a project. I have observed that for each and every authentication request, a **new process is spawned**. This result  in higher resource consumption. Is there a particular reason for implementing like this, without giving the developer to add a plugin (Or at least communicate through UNIX socket) ? Introducing a plugin ma

[2019-08-07 07:52] rojer commented on #253
ext_authn/autz is meant for quick hacks / low volume usage cases.
next step currently is implementing the [Authenticator](https://github.com/cesanta/docker_auth/blob/master/auth_server/authn/authn.go) or [Authorizer](https://github.com/cesanta/docker_auth/blob/master/auth_server/authz/authz.go) interface in the source.
i agree that there is a place for an intermediate option for a shared library o

[2019-08-14 15:25] WSLUser commented on #176
I am also experiencing this issue. Please address.

[2019-08-17 07:33] tharindulak commented on #253
I have implemented a new custom authentication and authorization mechanism where the developers can add their own plugins to existing docker auth implementation. As you mentioned in the comment, I implemented the authenticator and authorizer interfaces in doing so. I did it like that to make this backward compatible with the existing users. I have tested this new authentication and authorization i

[2019-08-20 03:50] tharindulak commented on #253
I have fixed the comments for the [PR](https://github.com/cesanta/docker_auth/pull/254). I had a question there. Please review those changes and let me know further changes.
Thank you ..!

[2019-08-23 06:15] hasinthaindrajee commented on #253
Hi @rojer

It would be great if you can help us to get this merged and released since one of our solutions needs this improvement.

[2019-08-23 07:26] rojer commented on #253
@hasinthaindrajee i assume you were talking about https://github.com/cesanta/docker_auth/pull/254
reviewed, still some work necessary to get it in.

[2019-08-24 13:02] tharindulak commented on #253
Hi @rojer
I have done the remaining necessary fixes. Can you please review it and merge?

[2019-08-25 02:58] hasinthaindrajee commented on #253
Hi @rojer , Thanks for helping out to get the PR merged. Any idea when we can get the repo released with this change ?

[2019-08-25 11:32] rojer commented on #253
let me take a look at some other PRs and i'll push latest

[2019-08-25 13:06] rojer commented on #253
built and pushed `cesanta/docker_auth:latest`

[2019-08-25 13:06] #253 closed

[2019-08-26 09:36] belsakn opened #255 "Logging from go lang authn ext"
Hello,

I'm trying to implement custom authentication extention with go lang.
When i try to log something with `fmt.Println("some test")` i'm getting this error: `authn #1 returned error: invalid character 's' looking for beginning of value`

Any suggestions?

[2019-08-26 11:21] tharindulak opened #256 "Is there a possibility of allowing public images to be pulled without credentials in a private docker registry deployment using docker auth?"
We have used this docker-auth implementation to handle authentication and authorization mechanisms in one of our projects using a private docker registry. In there we have a concept of private and public images belonging to different organizations. In our implementation, there is a use case where we should allow the users to pull public images in an organization in the docker registry without logg

[2019-08-26 22:27] rojer commented on #256
this is very much a supported use case but i think i broke it in a recent commit (https://github.com/cesanta/docker_auth/commit/9c17b9ae2427bc48259a5825fcf4b25740e5ba17 PR https://github.com/cesanta/docker_auth/pull/251).
i have now reverted the commit (https://github.com/cesanta/docker_auth/commit/f1a115f5e2a7f6ce2d4fc07b833bf2c704fdf3e8).

to allow anonymous access you need an authentication mod

[2019-08-26 22:29] rojer commented on #256
i pushed new `cesanta/docker_auth:latest` (version 2019082622), please try now.

[2019-08-27 04:52] hasinthaindrajee commented on #256
Hi @rojer

This looks like a static approach where you allow antonymous pulls to specific repositories (In your sample it's hello-world). Ours is more dynamic. There can be large number of images (repositories) and their privacy status (private/public) can be changed dynamically. Hence we need a way to control access on demand by looking up a DB. Since the above mentioned approach is a static appr

[2019-08-27 05:47] rojer commented on #256
authentication stage has access to username and password, authorization stage has access to username and repository information. both have options to perform authentication dynamically, like storing and updating ACLs in mongodb, invoking an external command or (just added) an external function from a plugin (shared library). see collection of example configs [here](https://github.com/cesanta/docke

[2019-08-27 05:54] hasinthaindrajee commented on #256
Hi @rojer

It looks like there's a gap between our understandings. Would it be possible to have a discussion on this ? May be a call ?

[2019-08-27 05:55] rojer commented on #256
docker_auth is a hobby project for me, i don't provide phone support.

[2019-08-27 05:56] rojer commented on #256
let me try to clarify.

if your set of _users_ is static, you can use static authentication stage. authentication should also allow public access requests (no username) to proceed.

it looks like your authrization stage is highly dynamic, and here you may be able to use mongodb and manage ACLs dynamically, or just invoke and external program that will apply whatever rules you need to make the deci

[2019-08-27 09:11] tharindulak commented on #256
As you suggest we are already using an external program using a plugin. What happened there is it always calls [authentication logic](https://github.com/cesanta/docker_auth/blob/master/auth_server/server/server.go#L391-L412), so that unauthorized users can not pull public images. If we can get the authorized scopes to authentication, we can pull public images. That is basically our requirement. Sh

[2019-08-27 19:37] rojer commented on #256
this is not correct. authentication is always invoked, yes, but it can allow unidentified users if necessary. i described above how to do it.

[2019-08-28 06:46] tharindulak commented on #256
Hi @rojer
Using a mongo db to store dynamic ACL is an overhead as per our current implementation. Instead, if we can get repositories and actions to the authentication plugin, we can sort this out the issue in an easier way. If you think this is something docker auth can cater I can send a PR to cater this change to the new authz plugin extension which I implemented previously.

[2019-08-28 07:08] rojer commented on #256
docker_auth architecture makes clear separation between authentication an authorization phases:
 * authentication plugins are only concerned with establishing whether the user is who they claim to be, i.e. checking the password.
 * authorization plugins decide, what the user is allowed to do - which repos to pull or push. at that point account they are acting under has already been verified, so it

[2019-08-29 14:14] tharindulak commented on #256
Ok... Let’s assume we can handle user account at the authorization by seeing the account emptiness. We have done our project using your ext-auth. But when there is a docker-auth ping request at docker auth endpoint, the request does not get passed to the authorization logic. Since we are passing through authentication logic without failing irrespective of the auth status the ping will always be su

[2019-08-29 14:29] rojer commented on #256
i don't know anything about ping request. when are they used, how do they look like (uri, headers) and why don't then go to authz logic?

[2019-08-30 04:25] nadundesilva commented on #256
By ping, @tharindulak is talking about the [api version check API endpoint](https://docs.docker.com/registry/spec/api/#api-version-check) in the Docker registry. AFAIK, this request does not contain any scopes or actions since it is a simple API version check.

From a [quick look at the code base](https://github.com/cesanta/docker_auth/blob/master/auth_server/server/server.go#L404), when the list

[2019-08-31 07:19] tharindulak opened #257 "Glog reinitializes and fails in custom auth plugins"
Hi,

I am facing an issue in using authn and authz plugins due to glog reinitialization. In this docker_auth implementation in the main function, it parses a [flag](https://github.com/cesanta/docker_auth/blob/f1a115f5e2a7f6ce2d4fc07b833bf2c704fdf3e8/auth_server/main.go#L159). Then when using the plugin, since we had to use authn and authz packages (to implement the interfaces) glog tries to initia

[2019-08-31 08:06] tharindulak commented on #257
This [PR](https://github.com/cesanta/docker_auth/pull/258) will fix the issue. Please review this and merge.

[2019-08-31 11:51] rojer commented on #256
ok, i see the problem. any suggestions on how to solve it?

[2019-08-31 13:10] tharindulak commented on #257
Hi @rojer ,

I have fixed the comments, please review and merge.
Can we get a release with a specific **tag** for this plugin implementation?

[2019-08-31 14:42] tharindulak commented on #256
If we can bring the auth request scopes to authentication logic we can solve this problem. I can implement it to the plugin auth implementation. Therefore it will not break the other flows.

[2019-08-31 16:16] rojer commented on #256
no, if we are making an API change, it needs to be made uniformly to all implementations.
i'm not sure what the change should be though. can you research it and find some documentation about authentication for the `/v2/` and maybe other endpoints?

[2019-08-31 17:05] rojer commented on #257
thanks for doing this.
https://github.com/cesanta/docker_auth/pull/258 has been merged.
cesanta/docker_auth:latest has been pushed that contains this change.

[2019-08-31 17:05] #257 closed

[2019-09-01 12:05] tharindulak commented on #256
We have two options that can solve this problem 
1) To change apis of all authenticators and add actions to each of them.
2) Execute authorization to ping request.
Both of them in a backward compatible way(may be a config change).

[2019-09-05 09:42] spiarh commented on #39
I was having the same issue and fixed by adding the "anonymous" user under `users`

[code]

This gives me the following full configuration where admin can do everything and anonymous user can query the catalog and pull images:

[code]

I hope that helps :wink:

[2019-09-06 17:25] tharindulak commented on #256
Hi @rojer
What are your thoughts on the above solutions?

[2019-09-09 09:51] JacobTheEvans opened #260 "Make fails due to typo in Makefile"
I am currently trying to build master on my system and am failing with the current logs

[code]

This is the line in the Makefile I am having problems with
https://github.com/cesanta/docker_auth/blob/9b1b023a5a61d5d548847c25e4460a3a4e802401/auth_server/Makefile#L14

Should that not just be?

[code]

[2019-09-09 10:18] rojer commented on #260
no, but i think it should be go get.

can you try `go get -v github.com/a-urth/go-bindata/go-bindata` ?

[2019-09-09 10:30] JacobTheEvans commented on #260
Thanks for you quick reply @rojer

The go get issues a warning and then I experience errors with other modules.

This is the error log I get:
[code]

And for context this is the docker image I am building in:
[code]

Maybe there is something missing in my go environment that is now causing these errors

[2019-09-09 10:41] rojer commented on #260
the problem is this:

[code]

docker_auth uses modules, move it out of GOPATH or update to go 1.13 which uses go.mod inside gopath.

[2019-09-09 10:44] #260 closed

[2019-09-09 10:48] JacobTheEvans commented on #260
Thanks @rojer I updated to golang 1.13  and it runs without an problem

[2019-10-06 13:12] Prutheus opened #264 "can't push or pull"
I can't push and pull, it results in an EOF error. I inspected, that the error occurs because the auth is crashing when push/pull is requested:

docker_auth log after pull:
[code]

What to do?

[2019-10-06 14:35] #264 closed

[2019-11-12 15:38] dennismeissel opened #266 "Is it possible to use cesanta with Kubernetes?"
I'm trying to pull the image with Kubernetes.
I've tried to pull it just after login in docker with command
`docker login https://x.x.x.x:4443/v2 --username=xxx --password=xxx`
Docker says, that login is successed, but Kubernetes can not pull.

I've created also a secret inside kubernetes with:

`kubectl create secret docker-registry mysecret --docker-server=https://x.x.x.x:4443/ --docker-username

[2019-11-13 08:43] dennismeissel commented on #266
I don't know, what I did wrong at the first time, but I did it one more time step by step and it works perfect.

[2019-11-13 08:43] #266 closed

[2019-12-04 19:33] bachka commented on #201
@jomach hi there, i am stuck now with this. what do you mean "get a token without any authentication on endpoint of auth" ? i tried all possibilites but somehow can not check why i am not getting /_catalog. it tells me still "invalid token". Can you help me further?
Thanks a lot!

[2019-12-10 06:46] jomach commented on #201
@bachka maybe try
`- match: {account: "*"}
    actions: ["pull","push"]
    comment: "Anonymous users can pull (and for now push) all images"`
 to allow Anonymous Users.

[2019-12-12 08:56] jamct opened #268 "Error invalid scope"
I am working on an issue with helm v3, trying to push a chart to my docker v2 registry (with this auth server).
Helm is using deislabs/oras for connecting with the registry. This library combines multiple scopes with a space char (it is always the same repo with different actions).
 This is correct and described here:
[Distribution spec](https://github.com/docker/distribution/blob/1b9ab303a477ded9

[2020-01-13 18:06] fxdgear opened #269 "docker plugin push fails with insufficent scope"
I'm trying to figure out why I can't push a plugin to my registry with auth provided by this project.

when I push an image everything works fine. When I push a plugin I get an error insufficient scope.

I tried reading through the auth section of this project but it doesn't seem to really call out any particular scope types inparticular so I figure it should be pretty generic, as long as you're p

[2020-01-15 01:23] rojer commented on #269
i'm not familiar with plugins, maybe they require additional auth scopes.
[this documents](https://docs.docker.com/registry/spec/auth/scope/) describes a `repository(plugin)` resource type. maybe we need a token for that resource.
i don't have time to investigate though, so if someone figures this out and sends a PR - great.